@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3or5fa');
  src:  url('fonts/icomoon.eot?3or5fa#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3or5fa') format('truetype'),
    url('fonts/icomoon.woff?3or5fa') format('woff'),
    url('fonts/icomoon.svg?3or5fa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-circle-right1:before {
  content: "\ea43";
}
