.red {
  color: #d51f1f;
}

.orange {
  background-color: #ffc53d;
}

.blue {
  background-color: #57a1d9;
}

.green {
  background-color: #5db9ba;
}

.pink {
  background-color: #ff8793;
}

.purple {
  background-color: #ab83e8;
}

button {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn-green {
  background-color: #5db9ba;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn-green:hover {
  opacity: 0.8;
  color: #fff;
}

.btn-border-green {
  border: 1px solid #5db9ba;
  color: #5db9ba;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn-border-green:hover {
  opacity: 0.8;
  background-color: #5db9ba;
  color: #fff;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}

body,
html {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: 'Microsoft Yahei', serif;
  letter-spacing: 1px;
  color: #666;
}

a,
button {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

a:hover,
button:hover {
  opacity: 0.8;
}

img {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

a,
a:hover {
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

section {
  padding: 2em 0;
}

.icon-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6em;
  line-height: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.icon-title .cn {
  font-size: 1.8rem;
  margin-top: 0.6rem;
}

.icon-title .eng {
  font-size: 1.2rem;
  opacity: 0.8;
}

.panel-title {
  font-weight: bold;
}

.panel-title a:hover {
  color: #fff;
}

body.sticky-header #header .top {
  display: none;
}

body.sticky-header #header .logo img {
  height: 3em;
}

#header {
  background-color: #93D0D1;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#header .top {
  text-align: right;
  padding: 0.5em 0 0.2em;
  vertical-align: middle;
}

@media (max-width: 992px) {
  #header .top {
    display: none;
  }
}

#header .top a {
  position: relative;
  color: #fff;
  text-decoration: none;
  padding-right: 0.8em;
  line-height: 1.5;
}

#header .top a:before {
  font-size: 1.4em;
}

#header .top a:first-child:after {
  position: absolute;
  content: '';
  right: 3px;
  top: 3px;
  width: 2px;
  height: 14px;
  background-color: #fff;
}

#header .top a:last-child {
  padding-right: 0;
}

#header .top .line {
  position: relative;
}

#header .top .line:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#header .top .line:hover span {
  display: block;
}

#header .top .line span {
  position: absolute;
  display: none;
  left: -170px;
  top: 30px;
  z-index: 2;
}

#header .top .line span img {
  background-color: #fff;
  border: 5px solid #00c300;
}

#header .logo {
  padding: 1em 0 1.2em;
}

#header .logo:hover {
  opacity: 0.8;
}

@media (max-width: 992px) {
  #header .logo img {
    height: 3em;
  }
}

#header .nav {
  background-color: #fff;
  padding: .6rem 0;
  -webkit-box-shadow: 1px 1px 10px #cfcfcf;
          box-shadow: 1px 1px 10px #cfcfcf;
}

#header .nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .nav .container::before, #header .nav .container::after {
  display: none;
}

#header .nav .container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 992px) {
  #header .nav .container .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#header .nav .container .menu .icon-menu {
  background-color: #fff;
}

#header .nav .container .menu .icon-menu:before {
  cursor: pointer;
  font-size: 1.6em;
  display: none;
  color: #93D0D1;
}

@media (max-width: 992px) {
  #header .nav .container .menu .icon-menu:before {
    display: block;
    position: relative;
  }
}

@media (max-width: 992px) {
  #header .nav .container .menu .icon-menu .list {
    background-color: #fff;
    position: absolute;
    display: none;
    top: 128px;
    right: 0;
    width: 100%;
  }
}

#header .nav .container .menu .icon-menu .list a {
  padding: 0 .5rem;
}

@media (max-width: 992px) {
  #header .nav .container .menu .icon-menu .list a {
    border-bottom: 1px solid #c8c8c8;
  }
  #header .nav .container .menu .icon-menu .list a:hover {
    background-color: #5db9ba;
    color: #fff;
  }
}

@media (max-width: 992px) {
  #header .nav .container .menu .icon-menu:hover .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #header .nav .container .menu .icon-menu:hover .list a {
    padding: .8rem;
  }
}

#header .nav .container .search-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .nav .container .search-list .cart {
  position: relative;
  cursor: pointer;
}

#header .nav .container .search-list .cart .icon-cart {
  color: #357b7c;
  font-size: 1.2em;
}

#header .nav .container .search-list .cart .icon-cart:hover {
  opacity: 0.8;
}

#header .nav .container .search-list .cart .icon-cart span {
  color: #357b7c;
  font-size: 1em;
  font-weight: bold;
}

#header .nav .container .search-list .cart:hover {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#header .nav .container .search-list .cart:hover .cart-list {
  display: block;
}

#header .nav .container .search-list .cart:hover .cart-list:hover {
  opacity: 1;
}

#header .nav .container .search-list .cart .cart-list {
  display: none;
  border-radius: 4px;
  border-top: 3px solid #93D0D1;
  padding: 0.8em;
  position: absolute;
  top: 40px;
  left: -80px;
  background-color: #fff;
  width: 350px;
  text-align: left;
  -webkit-box-shadow: 0 0 3px #ccc;
          box-shadow: 0 0 3px #ccc;
}

#header .nav .container .search-list .cart .cart-list hr {
  border-top: 1px solid #93D0D1;
}

#header .nav .container .search-list .cart .cart-list table {
  background-color: #f8f3f3;
  text-align: center;
  margin-top: 0.6em;
}

#header .nav .container .search-list .cart .cart-list table td {
  padding: 5px;
}

#header .nav .container .search-list .cart .cart-list .total {
  text-align: right;
  font-weight: bold;
}

#header .nav .container .search-list .search {
  position: relative;
  margin-left: .8em;
}

#header .nav .container .search-list .search .icon-search:before {
  cursor: pointer;
  position: absolute;
  top: 30%;
  right: 5%;
  padding-left: 5px;
  border-left: 1px solid #999;
}

#header .nav .container .search-list .search input {
  padding: 6px 10px;
  border: 1px solid #999;
  background-color: #eee;
  border-radius: 14px;
  outline: 0;
}

#footer {
  background-color: #f7f7f7;
  padding: 1.2em 0 0;
}

#footer .container > * {
  margin-top: 1em;
  display: inline-block;
  width: 100%;
}

@media (max-width: 992px) {
  #footer .container .top {
    text-align: center;
  }
}

#footer .container .top a {
  position: relative;
  text-decoration: none;
  padding-right: 1.6em;
  line-height: 1.5;
}

#footer .container .top a:after {
  position: absolute;
  content: '';
  right: 6px;
  top: 3px;
  width: 2px;
  height: 14px;
  background-color: #666;
}

#footer .container .top a:last-child {
  padding-right: 0;
}

#footer .container .top a:last-child:after {
  background-color: transparent;
}

#footer .container .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  #footer .container .middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#footer .container .middle .left {
  width: 15%;
  line-height: 4.5rem;
  text-align: center;
  border: 1px solid #666;
  margin-right: 1rem;
}

@media (max-width: 992px) {
  #footer .container .middle .left {
    margin-bottom: 1rem;
    margin-right: 0;
    width: 100%;
  }
}

#footer .container .middle .right {
  width: calc(100% - 15% - 1.2em);
}

#footer .bottom {
  margin-top: 1em;
  text-align: center;
  background-color: #EAEAEA;
}

#footer .bottom .container {
  padding: 1em;
}

.arrow {
  font-size: 20px;
  color: #fff;
  background-color: #2d6a6b;
  position: fixed;
  bottom: 1em;
  right: 4em;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (max-width: 768px) {
  .arrow {
    opacity: 0;
  }
}

.arrow:hover {
  opacity: 0.8;
}

#awards .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1200px) {
  #awards .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#awards .container .left {
  width: 30%;
  padding: 1.2em;
  background-color: #EAEAEA;
  text-align: center;
  line-height: 1.8;
}

@media (max-width: 1200px) {
  #awards .container .left {
    display: block;
    width: 100%;
  }
}

#awards .container .left > div:first-child {
  margin-bottom: 0.6em;
  font-size: 2em;
  font-weight: bold;
}

#awards .container .right {
  width: calc(70% - 1.2em);
  text-align: center;
}

@media (max-width: 1200px) {
  #awards .container .right {
    display: block;
    width: 100%;
    margin-top: 1.2em;
  }
}

#awards .container .right img {
  height: 9.5em;
}

@media (max-width: 1200px) {
  #awards .container .right img {
    height: 8.5em;
  }
}

#awards .container .right img + * {
  margin-left: 1.6em;
}

#fun .info, #child .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
  font-weight: 500;
  line-height: 2;
  opacity: 0.7;
}

#fun .info .title, #child .info .title {
  font-size: 2.4rem;
}

#fun .info p, #child .info p {
  font-size: 1.4rem;
  font-weight: 300;
}

#fun {
  color: #fff;
  background-image: url(../images/index_bg_01.jpg);
  background-position: center;
}

#child {
  color: #000;
  background-image: url(../images/index_bg_02.jpg);
  background-position: left center;
}

#child .info {
  background-color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 992px) {
  #news .info .left img,
  #news .info .right img {
    width: 100%;
  }
}

@media (max-width: 992px) {
  #news .info .right {
    margin-top: 1.2em;
  }
}

#news .info .img {
  position: relative;
  cursor: pointer;
}

#news .info .img:hover img:hover {
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
}

#news .info .img:hover a {
  display: inline-block;
}

#news .info .img img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

#sale {
  background-color: #fff9d5;
}

#sale .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#sale .info .n5 {
  background-color: #fff;
  margin-right: 1.2em;
  margin-bottom: 1.2em;
  width: calc((100% - 1.2em*4)/ 5);
  border: 1px solid #cfcfcf;
  -webkit-box-shadow: 1px 1px 10px #ccc;
          box-shadow: 1px 1px 10px #ccc;
  border-radius: 8px;
  overflow: hidden;
  min-height: 40vh;
}

@media (max-width: 992px) {
  #sale .info .n5 {
    width: calc((100% - 1.2em)/ 2);
  }
}

#sale .info .n5:nth-child(5n) {
  margin-right: 0;
}

@media (max-width: 992px) {
  #sale .info .n5:nth-child(5n) {
    margin-right: 1.2em;
  }
}

@media (max-width: 992px) {
  #sale .info .n5:nth-child(2n) {
    margin-right: 0;
  }
}

#sale .info .n5 .cover {
  position: relative;
  cursor: pointer;
}

#sale .info .n5 .cover:hover img {
  -webkit-filter: blur(1px) grayscale(0.7);
          filter: blur(1px) grayscale(0.7);
}

#sale .info .n5 .cover:hover .icon {
  display: block;
}

#sale .info .n5 .cover .icon {
  display: none;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#sale .info .n5 .cover .icon .icon-heart {
  background-color: #93d0d1;
}

#sale .info .n5 .cover .icon .icon-heart:hover {
  background-color: #4cb0b2;
}

#sale .info .n5 .cover .icon .icon-cart {
  background-color: #08b6b7;
}

#sale .info .n5 .cover .icon .icon-cart:hover {
  background-color: #045555;
}

#sale .info .n5 .cover .icon > div {
  display: inline-block;
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
  font-size: 1.2em;
  text-shadow: 1px 1px #666;
  -webkit-box-shadow: 1px 1px 2px #666;
          box-shadow: 1px 1px 2px #666;
  border-radius: 6px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#sale .info .n5 .desc {
  padding: 1em;
}

#sale .info .n5 .desc > div:first-child {
  font-size: 1.2em;
  min-height: 4.2em;
}

#sale .info .n5 .desc > :not(:first-child) {
  text-align: right;
}

#sale .info .n5 .desc .price {
  font-size: 1.2em;
  opacity: 0.5;
}

#sale .info .n5 .desc .discount {
  font-size: 2em;
  color: #d51f1f;
  font-weight: 700;
}

.slider {
  margin-top: 7.2em;
  width: 100%;
}

.slider .slick-slide img {
  width: 100%;
}

.slider .slick-dots {
  bottom: 20px;
}

#index-video .youtube {
  position: relative;
}

@media (max-width: 992px) {
  #index-video .youtube {
    margin-top: 1.2em;
  }
}

#index-video .youtube .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  padding-left: 2px;
  width: 70px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#index-video .youtube .arrow:hover {
  background-color: #d51f1f;
}

#index-video .youtube .arrow a {
  color: #fff;
  font-size: 1.2em;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 2;
}

@media (max-width: 992px) {
  .social {
    display: none;
  }
}

.social li {
  text-align: center;
  list-style: none;
}

.social li .opened {
  -webkit-transform: translateX(-230px);
          transform: translateX(-230px);
  z-index: 1;
}

.social li button {
  border: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3em;
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

.social li .sw_content {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.6em;
}

.social li .sw_content h3 {
  font-size: 1.2em;
  margin: 0;
  padding: 0.6em 0;
}

.social li .icon-facebook:before {
  font-size: 1.4em;
}

.social li .line img {
  margin-bottom: 0.4em;
}

.social li .icon-mail4 {
  position: relative;
}

.social li .icon-mail4:before {
  font-size: 1.4em;
}

.social li .icon-mail4 span.numbers {
  position: absolute;
  left: 8px;
  top: 8px;
  color: #fff;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 100%;
}

.social li .icon-mail4 span.numbers b {
  position: absolute;
  left: 4px;
  top: -18px;
  font-size: 11px;
  font-weight: bold;
}

.social li .icon-heart:before {
  font-size: 1.2em;
}

#memberjoin,
#memberalter,
#product,
#productitem,
#eventitem,
#video,
#about,
#event,
#contact,
#account,
#favorite,
#shopping {
  min-height: 580px;
  margin-top: 12em;
}

@media (max-width: 992px) {
  #memberjoin,
  #memberalter,
  #product,
  #productitem,
  #eventitem,
  #video,
  #about,
  #event,
  #contact,
  #account,
  #favorite,
  #shopping {
    margin-top: 8.5em;
  }
}

#memberjoin .left .icon-play3:before,
#memberalter .left .icon-play3:before,
#product .left .icon-play3:before,
#productitem .left .icon-play3:before,
#eventitem .left .icon-play3:before,
#video .left .icon-play3:before,
#about .left .icon-play3:before,
#event .left .icon-play3:before,
#contact .left .icon-play3:before,
#account .left .icon-play3:before,
#favorite .left .icon-play3:before,
#shopping .left .icon-play3:before {
  float: right;
  font-size: 0.8em;
  color: #ffeab5;
}

@media (max-width: 992px) {
  #memberjoin .left,
  #memberalter .left,
  #product .left,
  #productitem .left,
  #eventitem .left,
  #video .left,
  #about .left,
  #event .left,
  #contact .left,
  #account .left,
  #favorite .left,
  #shopping .left {
    display: none;
  }
}

#memberjoin .right .icon-plus:before,
#memberalter .right .icon-plus:before,
#product .right .icon-plus:before,
#productitem .right .icon-plus:before,
#eventitem .right .icon-plus:before,
#video .right .icon-plus:before,
#about .right .icon-plus:before,
#event .right .icon-plus:before,
#contact .right .icon-plus:before,
#account .right .icon-plus:before,
#favorite .right .icon-plus:before,
#shopping .right .icon-plus:before {
  float: right;
  font-size: 0.8em;
  color: #fff;
}

#event .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#event .info > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2em 0.8em;
  font-size: 1.2em;
}

#event .info > a:nth-child(odd) {
  background-color: #ecf7f7;
}

#event .info > a span {
  margin-right: 1rem;
  text-align: center;
}

#event .info .date {
  opacity: 0.7;
}

#event .info .name {
  width: 12%;
  color: #fff;
  padding: 0.4em 0.6em 0.6em;
  border-radius: 6px;
}

#event .info .name:before {
  margin-right: 0.4em;
  margin-top: 0.5em;
  font-size: 0.8em;
}

@media (max-width: 768px) {
  #event .info .name {
    width: 100%;
    margin: 0.6em 0;
  }
}

#eventitem .title {
  text-align: left;
  margin-bottom: 1.2em;
}

#eventitem .left .title {
  padding-left: 1.2em;
  border-left: 5px solid #5db9ba;
}

#eventitem .left .img {
  padding: 1.2em;
  background-color: #EAEAEA;
  border: 1px solid #a8a8a8;
}

#eventitem .right .list + * {
  margin-top: 3.6em;
}

#eventitem .right .title {
  border: 0;
}

#eventitem .right .title img {
  height: 2em;
  margin-right: 0.6em;
}

#eventitem .right .item {
  margin-bottom: 1.8em;
}

#eventitem .right .item .img {
  padding: 1.2em;
  background-color: #ecf7f7;
  margin-bottom: 1.2em;
}

#product .list-group {
  border-top: 3px solid #93D0D1;
  border-radius: 4px;
  overflow: hidden;
}

#product .list-group .list-group-item {
  padding: 15px;
}

#product .list-group .list-group-item:hover {
  background-color: #dbefef;
  color: #3d8d8e;
}

#product .list-group .list-group-item:hover .badge {
  background-color: #3d8d8e;
}

#product .right .title {
  margin-bottom: 1.2em;
  text-align: left;
  color: #3d8d8e;
}

#product .right .col-md-3 .item {
  margin: 0.6em;
  padding: 1em;
}

#product .right .col-md-3 .item img {
  margin-bottom: 1.2em;
}

#product .right .col-md-3 .item img:hover {
  -webkit-filter: blur(1px) grayscale(0.7);
          filter: blur(1px) grayscale(0.7);
}

#product .right .col-md-3 .item .img {
  position: relative;
  cursor: pointer;
}

#product .right .col-md-3 .item .img:hover img {
  -webkit-filter: blur(1px) grayscale(0.7);
          filter: blur(1px) grayscale(0.7);
}

#product .right .col-md-3 .item .img:hover .icon {
  display: block;
}

#product .right .col-md-3 .item .img .icon {
  display: none;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#product .right .col-md-3 .item .img .icon .icon-heart {
  background-color: #93d0d1;
}

#product .right .col-md-3 .item .img .icon .icon-heart:hover {
  background-color: #4cb0b2;
}

#product .right .col-md-3 .item .img .icon .icon-cart {
  background-color: #08b6b7;
}

#product .right .col-md-3 .item .img .icon .icon-cart:hover {
  background-color: #045555;
}

#product .right .col-md-3 .item .img .icon > div {
  display: inline-block;
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
  font-size: 1.2em;
  text-shadow: 1px 1px #666;
  -webkit-box-shadow: 1px 1px 2px #666;
          box-shadow: 1px 1px 2px #666;
  border-radius: 6px;
}

#product .right .col-md-3 .item .name {
  font-size: 1.2em;
}

#product .right .col-md-3 .item > :not(.name) {
  text-align: right;
}

#product .right .col-md-3 .item .price {
  font-size: 1.4em;
  opacity: 0.5;
}

#product .right .col-md-3 .item .discount {
  font-size: 2em;
  color: #d51f1f;
  font-weight: 700;
}

#productitem .list-group {
  border-top: 3px solid #93D0D1;
  border-radius: 4px;
  overflow: hidden;
}

#productitem .list-group .list-group-item {
  padding: 15px;
}

#productitem .list-group .list-group-item:hover {
  background-color: #dbefef;
  color: #3d8d8e;
}

#productitem .list-group .list-group-item:hover .badge {
  background-color: #3d8d8e;
}

#productitem .right .productList {
  text-align: center;
}

#productitem .right .productList .col-md-6 {
  padding: 1.4em;
}

#productitem .right .productList .col-md-6 img {
  width: 100%;
}

#productitem .right .productList .col-md-6:nth-child(2) {
  text-align: left;
}

#productitem .right .productList .col-md-6:nth-child(2) .title {
  margin-bottom: 1.6em;
}

#productitem .right .productList .col-md-6:nth-child(2) li {
  line-height: 2;
}

#productitem .right .productList .col-md-6:nth-child(2) .price {
  padding: 1.2em;
}

#productitem .right .productList .col-md-6:nth-child(2) .price > * {
  font-size: 1.2em;
}

#productitem .right .productList .col-md-6:nth-child(2) .price > * + * {
  margin-left: 1.6em;
  color: #d51f1f;
  font-size: 1.6em;
  font-weight: 700;
}

#productitem .right .productList .col-md-6:nth-child(2) .quantity {
  padding: 1.2em;
  font-size: 1.2em;
}

#productitem .right .productList .col-md-6:nth-child(2) .quantity select {
  padding: 0.2em;
  border-radius: 4px;
  width: 30%;
}

#productitem .right .productList .col-md-6:nth-child(2) .button {
  padding: 1.2em;
}

#productitem .right .productList .col-md-6:nth-child(2) .button .btn {
  padding: 8px 16px;
}

#productitem .right .productList .col-md-6:nth-child(2) .button .btn-default {
  border: 1px solid #d9534f;
}

#productitem .right .productList .col-md-6:nth-child(2) .button .btn-default:hover {
  background-color: #f9e2e2;
}

#productitem .right .productList .col-md-6:nth-child(2) .button .btn-default .icon-heart {
  color: #d9534f;
}

#productitem .right .productList .col-md-6:nth-child(2) .button .btn-default .icon-heart:before {
  font-size: 1.2em;
  line-height: 1.2;
}

#productitem .right .desc img {
  width: 100%;
}

#productitem .right .desc .title {
  border: 0;
  font-size: 1.2em;
  text-align: left;
  padding: 0.6em 0 0.4em;
  border-bottom: 3px solid #3d8d8e;
  color: #fff;
  margin-bottom: 1.2em;
}

#productitem .right .desc .title span {
  margin: 0;
  padding: 0.6em;
  background-color: #3d8d8e;
  border-radius: 10px 10px 0 0;
}

#about img {
  margin-top: 1.2em;
}

#video .video .slick-slide,
#video .share .slick-slide {
  padding: 1.2em;
}

#video .video .slick-dots,
#video .share .slick-dots {
  bottom: -20px;
}

#video .slider {
  margin-top: 1.2em;
}

#video .share .item img {
  margin-bottom: 2.4em;
}

#video .share .item .desc {
  padding: 1.2em;
  text-align: center;
}

#video .share .item .desc > * {
  margin-bottom: 1.2em;
}

#video .share .item .desc > div:nth-child(1) span {
  font-size: 1.2em;
  color: #fff;
  background-color: #93D0D1;
  padding: 6px 16px;
  border-radius: 6px;
}

#video .share .item .desc > div:nth-child(2) {
  font-size: 1.2em;
}

#video .share .item .desc > div:nth-child(3) {
  opacity: 0.6;
  text-align: left;
}

#account .nav > li > a.active,
#favorite .nav > li > a.active,
#memberalter .nav > li > a.active {
  background-color: #a5d8d9;
  color: #357b7c;
}

@media (max-width: 992px) {
  #account .left,
  #favorite .left,
  #memberalter .left {
    margin-bottom: 1.2em;
  }
}

#account .panel-success,
#favorite .panel-success,
#memberalter .panel-success {
  border: 1px solid #4cb0b2;
}

#account .panel-success .panel-heading,
#favorite .panel-success .panel-heading,
#memberalter .panel-success .panel-heading {
  background-color: #4cb0b2;
  color: #fff;
  cursor: pointer;
}

#account .panel-heading,
#favorite .panel-heading,
#memberalter .panel-heading {
  cursor: pointer;
}

#account .panel-blue .panel-heading,
#favorite .panel-blue .panel-heading,
#memberalter .panel-blue .panel-heading {
  background-color: #b7c8dc;
  color: #fff;
}

#account .panel-blue .panel-body,
#favorite .panel-blue .panel-body,
#memberalter .panel-blue .panel-body {
  border: 1px solid #b7c8dc;
}

#shopping .form-info .form-group .form-check-label,
#memberjoin .form-info .form-group .form-check-label,
#memberalter .form-info .form-group .form-check-label {
  cursor: pointer;
}

#shopping .date .form-control,
#shopping .address .form-control,
#memberjoin .date .form-control,
#memberjoin .address .form-control,
#memberalter .date .form-control,
#memberalter .address .form-control {
  width: calc((100% - 0.4em*2) / 3);
}

@media (max-width: 768px) {
  #shopping .date .form-control,
  #shopping .address .form-control,
  #memberjoin .date .form-control,
  #memberjoin .address .form-control,
  #memberalter .date .form-control,
  #memberalter .address .form-control {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #shopping .date .form-control + *,
  #shopping .address .form-control + *,
  #memberjoin .date .form-control + *,
  #memberjoin .address .form-control + *,
  #memberalter .date .form-control + *,
  #memberalter .address .form-control + * {
    margin-top: 1.2em;
  }
}

#shopping .address > .form-control,
#memberjoin .address > .form-control,
#memberalter .address > .form-control {
  margin-top: 1.2em;
  width: 100%;
}

#shopping .getInfo p,
#memberjoin .getInfo p,
#memberalter .getInfo p {
  margin: 10px 0 10px;
}

#shopping .getInfo p span,
#memberjoin .getInfo p span,
#memberalter .getInfo p span {
  padding-right: 0.4em;
}

@media (max-width: 768px) {
  #shopping .getInfo > div button,
  #memberjoin .getInfo > div button,
  #memberalter .getInfo > div button {
    width: 100%;
  }
  #shopping .getInfo > div button + *,
  #memberjoin .getInfo > div button + *,
  #memberalter .getInfo > div button + * {
    margin-top: 1.2em;
  }
}

#shopping .getInfo > .form-control,
#memberjoin .getInfo > .form-control,
#memberalter .getInfo > .form-control {
  margin-top: 1.2em;
}

#memberjoin .getInfo > .form-control,
#memberalter .getInfo > .form-control {
  margin-top: 1.2em;
}

@media (max-width: 992px) {
  #memberjoin .getInfo > .form-control button + *,
  #memberalter .getInfo > .form-control button + * {
    margin-top: 0.6em;
    width: 100%;
  }
}

#memberjoin .imgcode > div *,
#memberalter .imgcode > div * {
  display: inline-block;
  width: 50%;
}

#memberjoin .imgcode > div img,
#memberalter .imgcode > div img {
  height: 2em;
  width: auto;
}

#memberjoin .form-info,
#memberalter .form-info {
  margin-top: 2em;
}

#memberjoin .date .form-control,
#memberjoin .address .form-control {
  width: calc((100% - 0.4em*2) / 3);
}

@media (max-width: 768px) {
  #memberjoin .date .form-control,
  #memberjoin .address .form-control {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #memberjoin .date .form-control + *,
  #memberjoin .address .form-control + * {
    margin-top: 1.2em;
  }
}

#memberjoin .address > .form-control {
  margin-top: 1.2em;
  width: 100%;
}

#memberjoin .getInfo > .form-control {
  margin-top: 1.2em;
}

#memberjoin .form-info {
  margin-top: 2em;
}

.imgcode > div * {
  display: inline-block;
  width: 50%;
}

.imgcode > div img {
  height: 2em;
  width: auto;
}

@media (max-width: 992px) {
  #memberalter .getInfo button + * {
    margin-top: 1.2em;
  }
}

@media (max-width: 992px) {
  #memberalter button {
    width: 100%;
  }
}

.social {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 2;
}

@media (max-width: 992px) {
  .social {
    display: none;
  }
}

.social ul {
  text-align: center;
}

.social ul li {
  cursor: pointer;
  list-style: none;
  width: 3em;
  height: 3em;
  line-height: 3em;
  color: #fff;
  font-size: 1.2em;
}

.social ul li + * {
  margin-top: 0.6em;
}

.social ul .icon-facebook:before {
  font-size: 1.4em;
}

.social ul .icon-mail4:before {
  font-size: 1.4em;
}

.social ul .icon-heart:before {
  font-size: 1.2em;
}

.modal .modal-header {
  text-align: center;
  background-color: #93D0D1;
  color: #fff;
  overflow: hidden;
  font-weight: bold;
  border-radius: 6px 6px 0 0;
}

.modal .modal-header .close {
  margin-top: -5px;
  color: black;
  font-size: 2.2em;
}

.modal .modal-content {
  border: 0;
}

.modal .form-group .form-check {
  text-align: center;
}

.modal .form-group .form-check-label {
  cursor: pointer;
  text-align: center;
}

.modal .button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal .button-group a {
  width: calc((100% - 0.6em*2)/2);
  margin-bottom: 0.6em;
}

.modal .button-group a:nth-child(2n) {
  margin-left: 0.6em;
}

#twzipcode select,
#twzipcode input {
  width: calc((100% - 0.4em*2) / 3);
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 425px) {
  #twzipcode select,
  #twzipcode input {
    width: 100%;
  }
}

#twzipcode > * + * {
  margin-left: 0.4em;
}

@media (max-width: 425px) {
  #twzipcode > * + * {
    margin-left: 0;
    margin-top: 1.2em;
  }
}

#memberjoin .date .form-control,
#memberjoin .address .form-control {
  width: calc((100% - 0.4em*2) / 3);
}

@media (max-width: 768px) {
  #memberjoin .date .form-control,
  #memberjoin .address .form-control {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #memberjoin .date .form-control + *,
  #memberjoin .address .form-control + * {
    margin-top: 1.2em;
  }
}

#memberjoin .address > .form-control {
  margin-top: 1.2em;
  width: 100%;
}

#memberjoin .getInfo > .form-control {
  margin-top: 1.2em;
}

#memberjoin .getInfo button {
  border: 0;
}

#memberjoin .imgcode > div * {
  display: inline-block;
  width: 50%;
}

#memberjoin .imgcode > div img {
  height: 2em;
  width: auto;
}

#memberjoin .form-info {
  margin-top: 2em;
}

#memberjoin .date .form-control,
#memberjoin .address .form-control {
  width: calc((100% - 0.4em*2) / 3);
}

@media (max-width: 768px) {
  #memberjoin .date .form-control,
  #memberjoin .address .form-control {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #memberjoin .date .form-control + *,
  #memberjoin .address .form-control + * {
    margin-top: 1.2em;
  }
}

#memberjoin .address > .form-control {
  margin-top: 1.2em;
  width: 100%;
}

#memberjoin .getInfo > .form-control {
  margin-top: 1.2em;
}

#memberjoin .form-info {
  margin-top: 2em;
}

.imgcode > div * {
  display: inline-block;
  width: 50%;
}

.imgcode > div img {
  height: 2em;
  width: auto;
}

.social {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 2;
}

@media (max-width: 992px) {
  .social {
    display: none;
  }
}

.social ul {
  text-align: center;
}

.social ul li {
  cursor: pointer;
  list-style: none;
  width: 3em;
  height: 3em;
  line-height: 3em;
  color: #fff;
  font-size: 1.2em;
}

.social ul li + * {
  margin-top: 0.6em;
}

.social ul .icon-facebook:before {
  font-size: 1.4em;
}

.social ul .icon-mail4:before {
  font-size: 1.4em;
}

.social ul .icon-heart:before {
  font-size: 1.2em;
}

.modal .modal-header {
  text-align: center;
  background-color: #93D0D1;
  color: #fff;
  overflow: hidden;
  font-weight: bold;
  border-radius: 6px 6px 0 0;
}

.modal .modal-header .close {
  margin-top: -5px;
  color: black;
  font-size: 2.2em;
}

.modal .modal-content {
  border: 0;
}

.modal .form-group .form-check {
  text-align: center;
}

.modal .form-group .form-check-label {
  cursor: pointer;
  text-align: center;
}

#twzipcode select,
#twzipcode input {
  width: calc((100% - 0.4em*2) / 3);
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 425px) {
  #twzipcode select,
  #twzipcode input {
    width: 100%;
  }
}

#twzipcode > * + * {
  margin-left: 0.4em;
}

@media (max-width: 425px) {
  #twzipcode > * + * {
    margin-left: 0;
    margin-top: 1.2em;
  }
}

#favorite .table,
#shopping .table,
#personal .table {
  text-align: center;
}

#favorite .table thead,
#shopping .table thead,
#personal .table thead {
  background-color: #95c4e7;
  color: #fff;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}

#favorite .table tbody tr td + *,
#shopping .table tbody tr td + *,
#personal .table tbody tr td + * {
  border-left: 1px dashed #929292;
}

#favorite .table tbody tr td i,
#shopping .table tbody tr td i,
#personal .table tbody tr td i {
  color: #EA697F;
  font-size: 1.2em;
  cursor: pointer;
}

#favorite .table tbody tr td:nth-child(2),
#shopping .table tbody tr td:nth-child(2),
#personal .table tbody tr td:nth-child(2) {
  text-align: left;
  font-size: 1.2em;
}

#favorite .table tbody tr td:nth-child(2):hover,
#shopping .table tbody tr td:nth-child(2):hover,
#personal .table tbody tr td:nth-child(2):hover {
  opacity: 0.8;
}

#shopping tfoot tr {
  border-top: 1px solid #ddd;
}

#shopping tfoot tr td {
  border-top: 0;
}

#memberjoin .date .form-control,
#memberjoin .address .form-control {
  width: calc((100% - 0.4em*2) / 3);
}

@media (max-width: 768px) {
  #memberjoin .date .form-control,
  #memberjoin .address .form-control {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #memberjoin .date .form-control + *,
  #memberjoin .address .form-control + * {
    margin-top: 1.2em;
  }
}

#memberjoin .address > .form-control {
  margin-top: 1.2em;
  width: 100%;
}

#memberjoin .getInfo > .form-control {
  margin-top: 1.2em;
}

#memberjoin .getInfo button {
  border: 0;
}

#memberjoin .imgcode > div * {
  display: inline-block;
  width: 50%;
}

#memberjoin .imgcode > div img {
  height: 2em;
  width: auto;
}

#memberjoin .form-info {
  margin-top: 2em;
}

#memberjoin .date .form-control,
#memberjoin .address .form-control {
  width: calc((100% - 0.4em*2) / 3);
}

@media (max-width: 768px) {
  #memberjoin .date .form-control,
  #memberjoin .address .form-control {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #memberjoin .date .form-control + *,
  #memberjoin .address .form-control + * {
    margin-top: 1.2em;
  }
}

#memberjoin .address > .form-control {
  margin-top: 1.2em;
  width: 100%;
}

#memberjoin .getInfo > .form-control {
  margin-top: 1.2em;
}

#memberjoin .form-info {
  margin-top: 2em;
}

.imgcode > div * {
  display: inline-block;
  width: 50%;
}

.imgcode > div img {
  height: 2em;
  width: auto;
}

.social {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 2;
}

@media (max-width: 992px) {
  .social {
    display: none;
  }
}

.social ul {
  text-align: center;
}

.social ul li {
  cursor: pointer;
  list-style: none;
  width: 3em;
  height: 3em;
  line-height: 3em;
  color: #fff;
  font-size: 1.2em;
}

.social ul li + * {
  margin-top: 0.6em;
}

.social ul .icon-facebook:before {
  font-size: 1.4em;
}

.social ul .icon-mail4:before {
  font-size: 1.4em;
}

.social ul .icon-heart:before {
  font-size: 1.2em;
}

.modal .modal-header {
  text-align: center;
  background-color: #93D0D1;
  color: #fff;
  overflow: hidden;
  font-weight: bold;
  border-radius: 6px 6px 0 0;
}

.modal .modal-header .close {
  margin-top: -5px;
  color: black;
  font-size: 2.2em;
}

.modal .modal-content {
  border: 0;
}

.modal .form-group .form-check {
  text-align: center;
}

.modal .form-group .form-check-label {
  cursor: pointer;
  text-align: center;
}

#twzipcode select,
#twzipcode input {
  width: calc((100% - 0.4em*2) / 3);
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 425px) {
  #twzipcode select,
  #twzipcode input {
    width: 100%;
  }
}

#twzipcode > * + * {
  margin-left: 0.4em;
}

@media (max-width: 425px) {
  #twzipcode > * + * {
    margin-left: 0;
    margin-top: 1.2em;
  }
}

#favorite .table,
#shopping .table,
#personal .table {
  text-align: center;
}

#favorite .table thead,
#shopping .table thead,
#personal .table thead {
  background-color: #95c4e7;
  color: #fff;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}

#favorite .table tbody tr:nth-child(odd),
#shopping .table tbody tr:nth-child(odd),
#personal .table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

#favorite .table tbody tr td + *,
#shopping .table tbody tr td + *,
#personal .table tbody tr td + * {
  border-left: 1px dashed #929292;
}

#favorite .table tbody tr td i,
#shopping .table tbody tr td i,
#personal .table tbody tr td i {
  color: #EA697F;
  font-size: 1.2em;
  cursor: pointer;
}

#favorite .table tbody tr td:nth-child(2),
#shopping .table tbody tr td:nth-child(2),
#personal .table tbody tr td:nth-child(2) {
  text-align: left;
  font-size: 1.2em;
}

#favorite .table tbody tr td:nth-child(2):hover,
#shopping .table tbody tr td:nth-child(2):hover,
#personal .table tbody tr td:nth-child(2):hover {
  opacity: 0.8;
}

.member-bottom {
  display: none;
}

@media (max-width: 992px) {
  .member-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 2;
  }
}

.member-bottom li {
  list-style: none;
  padding: 0.8em 0;
  font-size: 1em;
  color: #fff;
  text-align: center;
  width: calc(100% / 3);
  cursor: pointer;
}

.member-bottom li a::before {
  margin-right: .5rem;
}

.member-bottom li a,
.member-bottom li a:hover {
  color: #fff;
}

.member-bottom li.shopping {
  background-color: #ec9cc1;
}

.member-bottom li.servive {
  background-color: #8dd1e8;
}

.member-bottom li.account {
  background-color: #89cbb0;
}

#shopping .stepList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.2rem 0;
}

#shopping .stepList .step {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#shopping .stepList .step::before {
  position: absolute;
  top: 15px;
  right: -80px;
  font-size: 2.4em;
  color: #ffc53d;
  opacity: 0.4;
}

@media (max-width: 1200px) {
  #shopping .stepList .step::before {
    display: none;
  }
}

@media (max-width: 1200px) {
  #shopping .stepList .step:not(:first-child) {
    display: none;
  }
}

@media (max-width: 1200px) {
  #shopping .stepList .step:first-child {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#shopping .stepList .step img {
  margin-right: 1.2rem;
}

#shopping .stepList .step .text {
  text-align: left;
}

#shopping tfoot tr {
  border-top: 1px solid #ddd;
}

#shopping tfoot tr:first-child {
  border-top: 2px solid #ddd;
}

#shopping tfoot tr:nth-child(odd) {
  background-color: #f9f9f9;
}

#shopping tfoot tr td {
  border-top: 0;
}

#shopping tfoot .total td {
  font-size: 1.6em;
  opacity: 0.7;
}

#shopping .btn-step {
  margin-top: 2.4em;
}

#shopping .btn-step .btn {
  width: 250px;
  font-size: 1.2em;
  color: #fff;
}

#shopping .btn-step .btn + * {
  margin-left: 0.6em;
}

@media (max-width: 992px) {
  #shopping .btn-step .btn {
    width: 100%;
  }
  #shopping .btn-step .btn + * {
    margin-top: 0.6em;
    margin-left: 0;
  }
}

#shopping .btn-step .btn-prev {
  background-color: #5db9ba;
}

#shopping .btn-step .btn-next {
  background-color: #ff8793;
}

#shopping .imgcode > div * {
  display: inline-block;
  width: 50%;
}

#shopping .imgcode > div img {
  height: 2em;
  width: auto;
}

#shopping .form-info {
  margin-top: 2em;
}

#memberjoin .date .form-control,
#memberjoin .address .form-control {
  width: calc((100% - 0.4em*2) / 3);
}

@media (max-width: 768px) {
  #memberjoin .date .form-control,
  #memberjoin .address .form-control {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #memberjoin .date .form-control + *,
  #memberjoin .address .form-control + * {
    margin-top: 1.2em;
  }
}

#memberjoin .address > .form-control {
  margin-top: 1.2em;
  width: 100%;
}

#memberjoin .getInfo > .form-control {
  margin-top: 1.2em;
}

#memberjoin .form-info {
  margin-top: 2em;
}

.imgcode > div * {
  display: inline-block;
  width: 50%;
}

.imgcode > div img {
  height: 2em;
  width: auto;
}

.social {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 2;
}

@media (max-width: 992px) {
  .social {
    display: none;
  }
}

.social ul {
  text-align: center;
}

.social ul li {
  cursor: pointer;
  list-style: none;
  width: 3em;
  height: 3em;
  line-height: 3em;
  color: #fff;
  font-size: 1.2em;
}

.social ul li + * {
  margin-top: 0.6em;
}

.social ul .icon-facebook:before {
  font-size: 1.4em;
}

.social ul .icon-mail4:before {
  font-size: 1.4em;
}

.social ul .icon-heart:before {
  font-size: 1.2em;
}

.modal .modal-header {
  text-align: center;
  background-color: #93D0D1;
  color: #fff;
  overflow: hidden;
  font-weight: bold;
  border-radius: 6px 6px 0 0;
}

.modal .modal-header .close {
  margin-top: -5px;
  color: black;
  font-size: 2.2em;
}

.modal .modal-content {
  border: 0;
}

.modal .form-group .form-check {
  text-align: center;
}

.modal .form-group .form-check-label {
  cursor: pointer;
  text-align: center;
}

#twzipcode select,
#twzipcode input {
  width: calc((100% - 0.4em*2) / 3);
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 425px) {
  #twzipcode select,
  #twzipcode input {
    width: 100%;
  }
}

#twzipcode > * + * {
  margin-left: 0.4em;
}

@media (max-width: 425px) {
  #twzipcode > * + * {
    margin-left: 0;
    margin-top: 1.2em;
  }
}

#favorite .table,
#shopping .table,
#personal .table {
  text-align: center;
}

#favorite .table thead,
#shopping .table thead,
#personal .table thead {
  background-color: #95c4e7;
  color: #fff;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}

#favorite .table tbody tr:nth-child(odd),
#shopping .table tbody tr:nth-child(odd),
#personal .table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

#favorite .table tbody tr td + *,
#shopping .table tbody tr td + *,
#personal .table tbody tr td + * {
  border-left: 1px dashed #929292;
}

#favorite .table tbody tr td i,
#shopping .table tbody tr td i,
#personal .table tbody tr td i {
  color: #EA697F;
  font-size: 1.2em;
  cursor: pointer;
}

#favorite .table tbody tr td:nth-child(2),
#shopping .table tbody tr td:nth-child(2),
#personal .table tbody tr td:nth-child(2) {
  text-align: left;
  font-size: 1.2em;
}

#favorite .table tbody tr td:nth-child(2):hover,
#shopping .table tbody tr td:nth-child(2):hover,
#personal .table tbody tr td:nth-child(2):hover {
  opacity: 0.8;
}

.is-hide {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  display: block;
}

.modal .modal-close {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 5px;
  color: #444;
  background-color: #fff;
}

.head-title {
  text-align: left;
  padding-left: 1.2em;
  border-left: 5px solid #5db9ba;
  margin-bottom: 1.2em;
}
/*# sourceMappingURL=style.css.map */