$mainColor: #93D0D1;
.red {
    color: #d51f1f;
}

.orange {
    background-color: #ffc53d;
}

.blue {
    background-color: #57a1d9;
}

.green {
    background-color: darken($mainColor, 15%);
}

.pink {
    background-color: #ff8793;
}

.purple {
    background-color: #ab83e8;
}

.btn-green {
    background-color: darken($mainColor, 15%);
    color: #fff;
    &:hover {
        opacity: 0.8;
        color: #fff;
    }
}

@mixin breakpoint($class) {
    @if $class==xs {
        @media (max-width: 425px) {
            @content;
        }
    }
    @else if $class==sm {
        @media (max-width: 768px) {
            @content;
        }
    }
    @else if $class==md {
        @media (max-width: 992px) {
            @content;
        }
    }
    @else if $class==lg {
        @media (max-width: 1200px) {
            @content;
        }
    }
    @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft Yahei', serif;
    letter-spacing: 1px;
    color: #666;
}

a:hover,
button:hover {
    transition: all 0.5s;
}

a,
a:hover {
    color: #666;
    text-decoration: none;
    cursor: pointer;
}

section {
    padding: 2em 0;
}

.title {
    text-align: center;
    >div {
        font-size: 1.6em;
        font-weight: 500;
    }
    .cn {
        font-size: 1.8em;
        margin-top: 0.6em;
    }
    .eng {
        font-size: 1.2em;
        opacity: 0.8;
    }
}

.info {
    margin-top: 1.6em;
}

.panel-title {
    font-weight: bold;
    a {
        &:hover {
            color: #fff;
        }
    }
}

body.sticky-header {
    #header {
        .top {
            display: none;
        }
        .logo {
            img {
                height: 3em;
            }
        }
    }
}

#header {
    background-color: $mainColor;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    .top {
        text-align: right;
        padding: 0.5em 0 0.2em;
        vertical-align: middle;
        @include breakpoint(md) {
            display: none;
        }
        a {
            position: relative;
            color: #fff;
            text-decoration: none;
            padding-right: 0.8em;
            line-height: 1.5;
            &:before {
                font-size: 1.4em;
            }
            &:first-child:after {
                position: absolute;
                content: '';
                right: 3px;
                top: 3px;
                width: 2px;
                height: 14px;
                background-color: #fff;
            }
            &:last-child {
                padding-right: 0;
            }
        }
        .line {
            position: relative;
            &:hover {
                transition: all 0.5s;
                span {
                    display: block;
                }
            }
            span {
                position: absolute;
                display: none;
                left: -170px;
                top: 30px;
                z-index: 2;
                img {
                    background-color: #fff;
                    border: 5px solid #00c300;
                }
            }
        }
    }
    .logo {
        padding: 1em 0 1.2em;
        &:hover {
            opacity: 0.8;
        }
        img {
            @include breakpoint(md) {
                height: 3em;
            }
        }
    }
    .menu {
        background-color: #fff;
        padding: 0.6em 0 0.4em;
        border-bottom: 1px solid #999;
        .container {
            >* {
                display: inline-block;
                float: left;
            }
            .left {
                text-align: left;
                width: 75%;
                @include breakpoint(md) {
                    width: 10%;
                }
                .icon-menu {
                    .list {
                        @include breakpoint(md) {
                            background-color: #fff;
                            position: absolute;
                            display: none;
                            top: 128px;
                            right: 0;
                            width: 100%;
                        }
                        a {
                            text-align: center;
                            display: inline-block;
                            width: calc(100% / 6);
                            padding: 0.4em 0;
                            @include breakpoint(md) {
                                display: inline-block;
                                padding: 0.8em 0;
                                width: 100%;
                                border-bottom: 1px solid #ccc;
                                &:hover {
                                    background-color: darken($mainColor, 15%);
                                    color: #fff;
                                }
                            }
                        }
                    }
                    &::before {
                        cursor: pointer;
                        font-size: 1.6em;
                        display: none;
                        color: $mainColor;
                        @include breakpoint(md) {
                            display: inline-block;
                            position: relative;
                        }
                    }
                    &:hover {
                        .list {
                            @include breakpoint(md) {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
            .right {
                text-align: right;
                width: 25%;
                @include breakpoint(md) {
                    width: 90%;
                }
                >* {
                    display: inline-block;
                }
                .cart {
                    position: relative;
                    padding-top: 0.2em;
                    cursor: pointer;
                    .icon-cart {
                        color: darken($mainColor, 35%);
                        font-size: 1.2em;
                        &:hover {
                            opacity: 0.8;
                        }
                        span {
                            color: darken($mainColor, 35%);
                            font-size: 1em;
                            font-weight: bold;
                        }
                    }
                    &:hover {
                        transition: all 0.5s;
                        .cart-list {
                            display: block;
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                    .cart-list {
                        display: none;
                        border-radius: 4px;
                        border-top: 3px solid $mainColor;
                        padding: 0.8em;
                        position: absolute;
                        top: 40px;
                        left: -80px;
                        background-color: #fff;
                        width: 350px;
                        text-align: left;
                        box-shadow: 0 0 3px #ccc;
                        hr {
                            border-top: 1px solid $mainColor;
                        }
                        table {
                            background-color: #f8f3f3;
                            text-align: center;
                            margin-top: 0.6em;
                            td {
                                padding: 5px;
                            }
                        }
                        .total {
                            text-align: right;
                            font-weight: bold;
                        }
                    }
                }
                .search {
                    position: relative;
                    .icon-search:before {
                        cursor: pointer;
                        position: absolute;
                        top: 30%;
                        right: 5%;
                        padding-left: 5px;
                        border-left: 1px solid #999;
                    }
                    input {
                        padding: 6px 10px;
                        border: 1px solid #999;
                        background-color: #eee;
                        border-radius: 14px;
                        outline: 0;
                    }
                }
            }
        }
    }
}

#footer {
    background-color: #f7f7f7;
    padding: 1.2em 0 0;
    .container {
        >* {
            margin-top: 1em;
            display: inline-block;
            width: 100%;
        }
        .top {
            @include breakpoint(md) {
                text-align: center;
            }
            a {
                position: relative;
                text-decoration: none;
                padding-right: 1.6em;
                line-height: 1.5;
                &:after {
                    position: absolute;
                    content: '';
                    right: 6px;
                    top: 3px;
                    width: 2px;
                    height: 14px;
                    background-color: #666;
                }
                &:last-child {
                    padding-right: 0;
                    &:after {
                        background-color: transparent;
                    }
                }
            }
        }
        .center {
            >* {
                display: inline-block;
                float: left;
                height: 4.5em;
                @include breakpoint(md) {
                    display: block;
                    float: none;
                }
                +* {
                    margin-left: 1.2em;
                    @include breakpoint(md) {
                        margin-top: 1.2em;
                    }
                }
            }
            .left {
                width: 15%;
                line-height: 4.5em;
                text-align: center;
                border: 1px solid #666;
                @include breakpoint(md) {
                    width: 100%;
                }
            }
            .right {
                width: calc(100% - 15% - 1.2em);
                >div {
                    +div {
                        margin-top: 0.6em;
                    }
                    b {
                        font-size: 1em;
                        margin-right: 0.2em;
                    }
                }
            }
        }
    }
    .bottom {
        margin-top: 1em;
        text-align: center;
        background-color: #EAEAEA;
        .container {
            padding: 1em;
        }
    }
}

.arrow {
    font-size: 20px;
    color: #fff;
    background-color: darken($mainColor, 40%);
    position: fixed;
    bottom: 1em;
    right: 4em;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    @include breakpoint(sm) {
        opacity: 0;
    }
    &:hover {
        opacity: 0.8;
    }
}

#awards {
    .container {
        >* {
            display: inline-block;
            float: left;
            +* {
                margin-left: 1.2em;
                @include breakpoint(lg) {
                    margin-left: 0;
                }
            }
        }
        .left {
            width: 30%;
            padding: 1.2em;
            background-color: #EAEAEA;
            text-align: center;
            line-height: 1.8;
            @include breakpoint(lg) {
                display: block;
                width: 100%;
            }
            >div:first-child {
                margin-bottom: 0.6em;
                font-size: 2em;
                font-weight: bold;
            }
        }
        .right {
            width: calc(70% - 1.2em);
            text-align: center;
            @include breakpoint(lg) {
                display: block;
                width: 100%;
                margin-top: 1.2em;
            }
            img {
                height: 9.5em;
                @include breakpoint(lg) {
                    height: 8.5em;
                }
                +* {
                    margin-left: 1.6em;
                }
            }
        }
    }
}

#fun {
    color: #fff;
    text-align: center;
    background-image: url(../images/index_bg_01.jpg);
    background-position: center;
    .info {
        margin-top: 2.4em;
        height: 35vh;
        line-height: 2;
        opacity: 0.7;
        @include breakpoint(sm) {
            height: 50vh;
        }
        >div:first-child {
            font-size: 2.8em;
            @include breakpoint(sm) {
                font-size: 2em;
            }
        }
        >div:last-child {
            font-size: 1.6em;
            font-weight: 500;
            @include breakpoint(sm) {
                font-size: 1.2em;
            }
        }
    }
}

#child {
    color: #000;
    text-align: center;
    background-image: url(../images/index_bg_02.jpg);
    background-position: 5% 30%;
    @include breakpoint(md) {
        background-position: 22% 30%;
    }
    .info {
        margin-top: 2.2em;
        margin-left: 8.4em;
        height: 30vh;
        line-height: 2;
        opacity: 0.7;
        @include breakpoint(lg) {
            margin-top: 1em;
            margin-left: 1em;
            height: 50vh;
            line-height: 1.2;
        }
        >div {
            font-size: 1.6em;
            font-weight: 500;
            @include breakpoint(lg) {
                font-size: 1.2em;
                margin-top: 1.2em;
            }
        }
        >div:first-child {
            font-size: 2.8em;
            @include breakpoint(lg) {
                font-size: 2.4em;
            }
        }
    }
}

#news {
    .info {
        .left,
        .right {
            img {
                @include breakpoint(md) {
                    width: 100%;
                }
            }
        }
        .right {
            @include breakpoint(md) {
                margin-top: 1.2em;
            }
        }
        .img {
            position: relative;
            cursor: pointer;
            &:hover {
                img:hover {
                    filter: grayscale(0.5);
                }
                a {
                    display: inline-block;
                }
            }
            img {
                filter: grayscale(0);
            }
        }
    }
}

#sale {
    background-color: #fff9d5;
    .info {
        .n5 {
            background-color: #fff;
            margin-right: 1.2em;
            margin-bottom: 1.2em;
            display: inline-block;
            float: left;
            width: calc((100% - 1.2em*4)/ 5);
            border: 1px solid #cfcfcf;
            box-shadow: 1px 1px 10px #ccc;
            border-radius: 8px;
            overflow: hidden;
            min-height: 40vh;
            @include breakpoint(md) {
                display: inline-block;
                float: left;
                width: calc((100% - 1.2em)/ 2);
            }
            &:nth-child(5n) {
                margin-right: 0;
                @include breakpoint(md) {
                    margin-right: 1.2em;
                }
            }
            &:nth-child(2n) {
                @include breakpoint(md) {
                    margin-right: 0;
                }
            }
            .cover {
                position: relative;
                cursor: pointer;
                &:hover {
                    img {
                        filter: blur(1px) grayscale(0.7);
                    }
                    .icon {
                        display: block;
                    }
                }
                .icon {
                    display: none;
                    text-align: center;
                    color: #fff;
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    .icon-heart {
                        background-color: #93d0d1;
                        &:hover {
                            background-color: darken(#93d0d1, 20%);
                        }
                    }
                    .icon-cart {
                        background-color: #08b6b7;
                        &:hover {
                            background-color: darken(#08b6b7, 20%);
                        }
                    }
                    >div {
                        display: inline-block;
                        width: 2.6em;
                        height: 2.6em;
                        line-height: 2.6em;
                        font-size: 1.2em;
                        text-shadow: 1px 1px #666;
                        box-shadow: 1px 1px 2px #666;
                        border-radius: 6px;
                    }
                }
            }
            .desc {
                padding: 1em;
                >div:first-child {
                    font-size: 1.2em;
                    min-height: 4.2em;
                }
                > :not(:first-child) {
                    text-align: right;
                }
                .price {
                    font-size: 1.2em;
                    opacity: 0.5;
                }
                .discount {
                    font-size: 2em;
                    color: #d51f1f;
                    font-weight: 700;
                }
            }
        }
    }
}

.slider {
    margin-top: 7.2em;
    width: 100%;
    .slick-slide img {
        width: 100%;
    }
    .slick-dots {
        bottom: 20px;
    }
}

#index-video {
    .youtube {
        position: relative;
        @include breakpoint(md) {
            margin-top: 1.2em;
        }
        .arrow {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba($color: #000000, $alpha: 0.6);
            border-radius: 12px;
            padding-left: 2px;
            width: 70px;
            &:hover {
                background-color: #d51f1f;
            }
            a {
                color: #fff;
                font-size: 1.2em;
            }
        }
    }
}

.social {
    position: fixed;
    top: 30%;
    right: 0;
    z-index: 2;
    @include breakpoint(md) {
        display: none;
    }
    li {
        text-align: center;
        list-style: none;
        .opened {
            transform: translateX(-230px);
            z-index: 1;
        }
        >* {
            display: inline-block;
        }
        button {
            border: 0;
            display: block;
            width: 3em;
            height: 3em;
            line-height: 3em;
            color: #fff;
            font-size: 1.2em;
            margin-bottom: 0.8em;
        }
        .sw_content {
            display: none;
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 0.6em;
            h3 {
                font-size: 1.2em;
                margin: 0;
                padding: 0.6em 0;
            }
        }
        .icon-facebook:before {
            font-size: 1.4em;
        }
        .line {
            img {
                margin-bottom: 0.4em;
            }
        }
        .icon-mail4 {
            position: relative;
            &:before {
                font-size: 1.4em;
            }
            span.numbers {
                position: absolute;
                left: 8px;
                top: 8px;
                color: #fff;
                width: 15px;
                height: 15px;
                background-color: red;
                border-radius: 100%;
                b {
                    position: absolute;
                    left: 4px;
                    top: -18px;
                    font-size: 11px;
                    font-weight: bold;
                }
            }
        }
        .icon-heart:before {
            font-size: 1.2em;
        }
    }
}

#memberjoin,
#memberalter,
#product,
#productitem,
#eventitem,
#video,
#about,
#event,
#contact,
#account,
#favorite {
    margin-top: 12em;
    @include breakpoint(md) {
        margin-top: 8.5em;
    }
    .title {
        text-align: left;
        padding-left: 1.2em;
        border-left: 5px solid darken($mainColor, 15%);
        margin-bottom: 1.2em;
    }
    .left {
        .icon-play3:before {
            float: right;
            font-size: 0.8em;
            color: #ffeab5;
        }
        @include breakpoint(md) {
            display: none;
        }
    }
    .right {
        .icon-plus:before {
            float: right;
            font-size: 0.8em;
            color: #fff;
        }
    }
}

#event {
    .info {
        >a {
            display: block;
            width: 100%;
            padding: 1.2em 0.8em;
            font-size: 1.2em;
            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
            &:nth-child(odd) {
                background-color: lighten($mainColor, 25%);
            }
        }
        .date {
            width: 12%;
            opacity: 0.7;
            text-align: center;
        }
        .name {
            display: inline-block;
            width: 12%;
            text-align: center;
            color: #fff;
            padding: 0.4em 0.6em 0.6em;
            border-radius: 8px;
            &:before {
                margin-right: 0.4em;
                margin-top: 0.5em;
                font-size: 0.8em;
            }
            @include breakpoint(sm) {
                width: 100%;
                margin: 0.6em 0;
            }
        }
        .item {
            width: calc;
        }
    }
}

#eventitem {
    .title {
        text-align: left;
        margin-bottom: 1.2em;
    }
    .left {
        .title {
            padding-left: 1.2em;
            border-left: 5px solid darken($mainColor, 15%);
        }
        .img {
            padding: 1.2em;
            background-color: #EAEAEA;
            border: 1px solid #a8a8a8;
        }
    }
    .right {
        .list {
            +* {
                margin-top: 3.6em;
            }
        }
        .title {
            border: 0;
            img {
                height: 2em;
                margin-right: 0.6em;
            }
        }
        .item {
            margin-bottom: 1.8em;
            .img {
                padding: 1.2em;
                background-color: lighten($mainColor, 25%);
                margin-bottom: 1.2em;
            }
        }
    }
}

#product {
    .list-group {
        border-top: 3px solid #93D0D1;
        border-radius: 4px;
        overflow: hidden;
        .list-group-item {
            padding: 15px;
            &:hover {
                background-color: lighten($mainColor, 20%);
                color: darken($mainColor, 30%);
                .badge {
                    background-color: darken($mainColor, 30%);
                }
            }
        }
    }
    .right {
        .title {
            margin-bottom: 1.2em;
            text-align: left;
            color: darken($mainColor, 30%);
        }
        .col-md-3 {
            .item {
                margin: 0.6em;
                padding: 1em;
                img {
                    margin-bottom: 1.2em;
                    &:hover {
                        filter: blur(1px) grayscale(0.7);
                    }
                }
                .img {
                    position: relative;
                    cursor: pointer;
                    &:hover {
                        img {
                            filter: blur(1px) grayscale(0.7);
                        }
                        .icon {
                            display: block;
                        }
                    }
                    .icon {
                        display: none;
                        text-align: center;
                        color: #fff;
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        .icon-heart {
                            background-color: #93d0d1;
                            &:hover {
                                background-color: darken(#93d0d1, 20%);
                            }
                        }
                        .icon-cart {
                            background-color: #08b6b7;
                            &:hover {
                                background-color: darken(#08b6b7, 20%);
                            }
                        }
                        >div {
                            display: inline-block;
                            width: 2.6em;
                            height: 2.6em;
                            line-height: 2.6em;
                            font-size: 1.2em;
                            text-shadow: 1px 1px #666;
                            box-shadow: 1px 1px 2px #666;
                            border-radius: 6px;
                        }
                    }
                }
                .name {
                    font-size: 1.2em;
                }
                > :not(.name) {
                    text-align: right;
                }
                .price {
                    font-size: 1.4em;
                    opacity: 0.5;
                }
                .discount {
                    font-size: 2em;
                    color: #d51f1f;
                    font-weight: 700;
                }
            }
        }
    }
}

#productitem {
    .list-group {
        border-top: 3px solid #93D0D1;
        border-radius: 4px;
        overflow: hidden;
        .list-group-item {
            padding: 15px;
            &:hover {
                background-color: lighten($mainColor, 20%);
                color: darken($mainColor, 30%);
                .badge {
                    background-color: darken($mainColor, 30%);
                }
            }
        }
    }
    .right {
        .productList {
            text-align: center;
            .col-md-6 {
                padding: 1.4em;
                img {
                    width: 100%;
                }
                &:nth-child(2) {
                    text-align: left;
                    .title {
                        margin-bottom: 1.6em;
                    }
                    li {
                        line-height: 2;
                    }
                    .price {
                        padding: 1.2em;
                        >* {
                            font-size: 1.2em;
                            +* {
                                margin-left: 1.6em;
                                color: #d51f1f;
                                font-size: 1.6em;
                                font-weight: 700;
                            }
                        }
                    }
                    .quantity {
                        padding: 1.2em;
                        font-size: 1.2em;
                        select {
                            padding: 0.2em;
                            border-radius: 4px;
                            width: 30%;
                        }
                    }
                    .button {
                        padding: 1.2em;
                        .btn {
                            padding: 8px 16px;
                        }
                        .btn-default {
                            border: 1px solid #d9534f;
                            &:hover {
                                background-color: lighten($color: #d9534f, $amount: 35%);
                            }
                            .icon-heart {
                                color: #d9534f;
                                &:before {
                                    font-size: 1.2em;
                                    line-height: 1.2;
                                }
                            }
                        }
                    }
                }
            }
        }
        .desc {
            img {
                width: 100%;
            }
            .title {
                border: 0;
                font-size: 1.2em;
                text-align: left;
                padding: 0.6em 0 0.4em;
                border-bottom: 3px solid darken($mainColor, 30%);
                color: #fff;
                margin-bottom: 1.2em;
                span {
                    margin: 0;
                    padding: 0.6em;
                    background-color: darken($mainColor, 30%);
                    border-radius: 10px 10px 0 0;
                }
            }
        }
    }
}

#about {
    img {
        margin-top: 1.2em;
    }
}

#video {
    .video,
    .share {
        .slick-slide {
            padding: 1.2em;
        }
        .slick-dots {
            bottom: -20px;
        }
    }
    .slider {
        margin-top: 1.2em;
    }
    .share {
        .item {
            img {
                margin-bottom: 2.4em;
            }
            .desc {
                padding: 1.2em;
                text-align: center;
                >* {
                    margin-bottom: 1.2em;
                }
                >div:nth-child(1) {
                    span {
                        font-size: 1.2em;
                        color: #fff;
                        background-color: $mainColor;
                        padding: 6px 16px;
                        border-radius: 6px;
                    }
                }
                >div:nth-child(2) {
                    font-size: 1.2em;
                }
                >div:nth-child(3) {
                    opacity: 0.6;
                    text-align: left;
                }
            }
        }
    }
}

#account,
#favorite,
#memberalter {
    .nav>li>a.active {
        background-color: lighten($mainColor, 5%);
        color: darken($mainColor, 35%);
    }
    .left {
        @include breakpoint(md) {
            margin-bottom: 1.2em;
        }
    }
    .panel-success {
        border: 1px solid darken($mainColor, 20%);
        .panel-heading {
            background-color: darken($mainColor, 20%);
            color: #fff;
            cursor: pointer;
        }
    }
    .panel-heading {
        cursor: pointer;
    }
    .panel-blue {
        .panel-heading {
            background-color: #b7c8dc;
            color: #fff;
        }
        .panel-body {
            border: 1px solid #b7c8dc;
        }
    }
}

#memberjoin,
#memberalter {
    .form-info {
        .form-group {
            .form-check-label {
                cursor: pointer;
            }
        }
    }
    .date,
    .address {
        .form-control {
            width: calc((100% - 0.4em*2) / 3);
            @include breakpoint(sm) {
                width: 100%;
            }
            +* {
                @include breakpoint(sm) {
                    margin-top: 1.2em;
                }
            }
        }
    }
    .address {
        >.form-control {
            margin-top: 1.2em;
            width: 100%;
        }
    }
    .getInfo {
        >div {
            button {
                @include breakpoint(sm) {
                    width: 100%;
                    +* {
                        margin-top: 1.2em;
                    }
                }
            }
        }
        >.form-control {
            margin-top: 1.2em;
        }
    }
}

#memberjoin,
#memberalter {
    .getInfo {
        >.form-control {
            margin-top: 1.2em;
            button {
                +* {
                    @include breakpoint(md) {
                        margin-top: 0.6em;
                        width: 100%;
                    }
                }
            }
        }
    }
    .imgcode {
        >div {
            * {
                display: inline-block;
                width: 50%;
            }
            img {
                height: 2em;
                width: auto;
            }
        }
    }
    .form-info {
        margin-top: 2em;
    }
}

#memberjoin {
    .date,
    .address {
        .form-control {
            width: calc((100% - 0.4em*2) / 3);
            @include breakpoint(sm) {
                width: 100%;
            }
            +* {
                @include breakpoint(sm) {
                    margin-top: 1.2em;
                }
            }
        }
    }
    .address {
        >.form-control {
            margin-top: 1.2em;
            width: 100%;
        }
    }
    .getInfo {
        >.form-control {
            margin-top: 1.2em;
        }
    }
    .form-info {
        margin-top: 2em;
    }
}

.imgcode {
    >div {
        * {
            display: inline-block;
            width: 50%;
        }
        img {
            height: 2em;
            width: auto;
        }
    }
}

#memberalter {
    .getInfo {
        button {
            +* {
                @include breakpoint(md) {
                    margin-top: 1.2em;
                }
            }
        }
    }
    button {
        @include breakpoint(md) {
            width: 100%;
        }
    }
}

.social {
    position: fixed;
    top: 30%;
    right: 0;
    z-index: 2;
    @include breakpoint(md) {
        display: none;
    }
    ul {
        text-align: center;
        li {
            cursor: pointer;
            list-style: none;
            width: 3em;
            height: 3em;
            line-height: 3em;
            color: #fff;
            font-size: 1.2em;
            +* {
                margin-top: 0.6em;
            }
        }
        .icon-facebook:before {
            font-size: 1.4em;
        }
        .icon-mail4:before {
            font-size: 1.4em;
        }
        .icon-heart:before {
            font-size: 1.2em;
        }
    }
}

.modal {
    .modal-header {
        text-align: center;
        background-color: #93D0D1;
        color: #fff;
        overflow: hidden;
        font-weight: bold;
        border-radius: 6px 6px 0 0;
        .close {
            margin-top: -5px;
            color: darken($mainColor, 80%);
            font-size: 2.2em;
        }
    }
    .modal-content {
        border: 0;
    }
    .form-group {
        .form-check {
            text-align: center;
        }
        .form-check-label {
            cursor: pointer;
            text-align: center;
        }
    }
    .button-group {
        a {
            width: calc((100% - 0.6em*2)/2);
            display: inline-block;
            margin-bottom: 0.6em;
            +* {
                margin-left: 0.6em;
            }
        }
    }
}

#twzipcode {
    select,
    input {
        width: calc((100% - 0.4em*2) / 3);
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        @include breakpoint(xs) {
            width: 100%;
        }
    }
    >* {
        +* {
            margin-left: 0.4em;
            @include breakpoint(xs) {
                margin-left: 0;
                margin-top: 1.2em;
            }
        }
    }
}

#favorite {
    .table {
        text-align: center;
        thead {
            background-color: #57a1d9;
            color: #fff;
            border-radius: 6px 6px 0 0;
            overflow: hidden;
        }
    }
    .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td {
        vertical-align: middle;
    }
}

#memberjoin {
    .date,
    .address {
        .form-control {
            width: calc((100% - 0.4em*2) / 3);
            @include breakpoint(sm) {
                width: 100%;
            }
            +* {
                @include breakpoint(sm) {
                    margin-top: 1.2em;
                }
            }
        }
    }
    .address {
        >.form-control {
            margin-top: 1.2em;
            width: 100%;
        }
    }
    .getInfo {
        >.form-control {
            margin-top: 1.2em;
        }
        button {
            border: 0;
        }
    }
    .imgcode {
        >div {
            * {
                display: inline-block;
                width: 50%;
            }
            img {
                height: 2em;
                width: auto;
            }
        }
    }
    .form-info {
        margin-top: 2em;
    }
}

#memberjoin {
    .date,
    .address {
        .form-control {
            width: calc((100% - 0.4em*2) / 3);
            @include breakpoint(sm) {
                width: 100%;
            }
            +* {
                @include breakpoint(sm) {
                    margin-top: 1.2em;
                }
            }
        }
    }
    .address {
        >.form-control {
            margin-top: 1.2em;
            width: 100%;
        }
    }
    .getInfo {
        >.form-control {
            margin-top: 1.2em;
        }
    }
    .form-info {
        margin-top: 2em;
    }
}

.imgcode {
    >div {
        * {
            display: inline-block;
            width: 50%;
        }
        img {
            height: 2em;
            width: auto;
        }
    }
}

.social {
    position: fixed;
    top: 30%;
    right: 0;
    z-index: 2;
    @include breakpoint(md) {
        display: none;
    }
    ul {
        text-align: center;
        li {
            cursor: pointer;
            list-style: none;
            width: 3em;
            height: 3em;
            line-height: 3em;
            color: #fff;
            font-size: 1.2em;
            +* {
                margin-top: 0.6em;
            }
        }
        .icon-facebook:before {
            font-size: 1.4em;
        }
        .icon-mail4:before {
            font-size: 1.4em;
        }
        .icon-heart:before {
            font-size: 1.2em;
        }
    }
}

.modal {
    .modal-header {
        text-align: center;
        background-color: #93D0D1;
        color: #fff;
        overflow: hidden;
        font-weight: bold;
        border-radius: 6px 6px 0 0;
        .close {
            margin-top: -5px;
            color: darken($mainColor, 80%);
            font-size: 2.2em;
        }
    }
    .modal-content {
        border: 0;
    }
    .form-group {
        .form-check {
            text-align: center;
        }
        .form-check-label {
            cursor: pointer;
            text-align: center;
        }
    }
}

#twzipcode {
    select,
    input {
        width: calc((100% - 0.4em*2) / 3);
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        @include breakpoint(xs) {
            width: 100%;
        }
    }
    >* {
        +* {
            margin-left: 0.4em;
            @include breakpoint(xs) {
                margin-left: 0;
                margin-top: 1.2em;
            }
        }
    }
}

#favorite,
#personal {
    .table {
        text-align: center;
        thead {
            background-color: lighten(#57a1d9, 15%);
            color: #fff;
            border-radius: 6px 6px 0 0;
            overflow: hidden;
        }
        tbody {
            tr {
                td {
                    +* {
                        border-left: 1px dashed #929292;
                    }
                    i {
                        color: #EA697F;
                        font-size: 1.2em;
                        cursor: pointer;
                    }
                }
                td:nth-child(2) {
                    text-align: left;
                    font-size: 1.2em;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
    .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td {
        vertical-align: middle;
    }
}

.member-bottom {
    display: none;
    @include breakpoint(md) {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: block;
        z-index: 2;
    }
    li {
        padding: 0.8em 0;
        font-size: 1em;
        color: #fff;
        text-align: center;
        display: inline-block;
        float: left;
        width: calc(100% / 3);
        cursor: pointer;
        a {
            &:before {
                margin-right: 0.6em;
            }
        }
        a,
        a:hover {
            color: #fff;
        }
    }
    li.shopping {
        background-color: #ec9cc1;
    }
    li.servive {
        background-color: #8dd1e8;
    }
    li.account {
        background-color: #89cbb0;
    }
}