/* line 2, ../sass/index.scss */
.red {
  color: #d51f1f;
}

/* line 6, ../sass/index.scss */
.orange {
  background-color: #ffc53d;
}

/* line 10, ../sass/index.scss */
.blue {
  background-color: #57a1d9;
}

/* line 14, ../sass/index.scss */
.green {
  background-color: #5db9ba;
}

/* line 18, ../sass/index.scss */
.pink {
  background-color: #ff8793;
}

/* line 22, ../sass/index.scss */
.purple {
  background-color: #ab83e8;
}

/* line 52, ../sass/index.scss */
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft Yahei', serif;
  letter-spacing: 1px;
  color: #666;
}

/* line 61, ../sass/index.scss */
a,
a:hover {
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

/* line 68, ../sass/index.scss */
section {
  padding: 2em 0;
}

/* line 72, ../sass/index.scss */
.title {
  text-align: center;
}
/* line 74, ../sass/index.scss */
.title > div {
  font-size: 1.6em;
  font-weight: 500;
}
/* line 78, ../sass/index.scss */
.title .cn {
  font-size: 1.8em;
  margin-top: 0.6em;
}
/* line 82, ../sass/index.scss */
.title .eng {
  font-size: 1.2em;
  opacity: 0.8;
}

/* line 88, ../sass/index.scss */
.info {
  margin-top: 1.6em;
}

/* line 92, ../sass/index.scss */
#header {
  background-color: #93D0D1;
  text-align: center;
}
/* line 95, ../sass/index.scss */
#header .top {
  text-align: right;
  padding: 0.5em 0 0.2em;
  vertical-align: middle;
}
@media (max-width: 992px) {
  /* line 95, ../sass/index.scss */
  #header .top {
    display: none;
  }
}
/* line 102, ../sass/index.scss */
#header .top a {
  position: relative;
  color: #fff;
  text-decoration: none;
  padding-right: 0.8em;
  line-height: 1.5;
}
/* line 108, ../sass/index.scss */
#header .top a:before {
  font-size: 1.4em;
}
/* line 111, ../sass/index.scss */
#header .top a:first-child:after {
  position: absolute;
  content: '';
  right: 3px;
  top: 3px;
  width: 2px;
  height: 14px;
  background-color: #fff;
}
/* line 120, ../sass/index.scss */
#header .top a:last-child {
  padding-right: 0;
}
/* line 125, ../sass/index.scss */
#header .logo {
  padding: 1em 0 1.2em;
}
/* line 128, ../sass/index.scss */
#header .menu {
  background-color: #fff;
  padding: 0.6em 0 0.4em;
  border-bottom: 1px solid #999;
}
/* line 133, ../sass/index.scss */
#header .menu .container > * {
  display: inline-block;
  float: left;
}
/* line 137, ../sass/index.scss */
#header .menu .container .left {
  text-align: left;
  width: 75%;
}
@media (max-width: 992px) {
  /* line 137, ../sass/index.scss */
  #header .menu .container .left {
    width: 10%;
  }
}
@media (max-width: 992px) {
  /* line 144, ../sass/index.scss */
  #header .menu .container .left .icon-menu .list {
    background-color: #fff;
    position: absolute;
    display: none;
    top: 128px;
    right: 0;
    width: 100%;
  }
}
/* line 153, ../sass/index.scss */
#header .menu .container .left .icon-menu .list a {
  text-align: center;
  display: inline-block;
  width: calc(100% / 6);
  padding: 0.4em 0;
}
@media (max-width: 992px) {
  /* line 153, ../sass/index.scss */
  #header .menu .container .left .icon-menu .list a {
    display: inline-block;
    padding: 0.8em 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
  /* line 163, ../sass/index.scss */
  #header .menu .container .left .icon-menu .list a:hover {
    background-color: #5db9ba;
    color: #fff;
  }
}
/* line 170, ../sass/index.scss */
#header .menu .container .left .icon-menu::before {
  cursor: pointer;
  font-size: 1.6em;
  display: none;
  color: #93D0D1;
}
@media (max-width: 992px) {
  /* line 170, ../sass/index.scss */
  #header .menu .container .left .icon-menu::before {
    display: inline-block;
    position: relative;
  }
}
@media (max-width: 992px) {
  /* line 181, ../sass/index.scss */
  #header .menu .container .left .icon-menu::before:hover .list {
    display: inline-block;
  }
}
/* line 189, ../sass/index.scss */
#header .menu .container .right {
  text-align: right;
  width: 25%;
}
@media (max-width: 992px) {
  /* line 189, ../sass/index.scss */
  #header .menu .container .right {
    width: 90%;
  }
}
/* line 195, ../sass/index.scss */
#header .menu .container .right > * {
  display: inline-block;
}
/* line 198, ../sass/index.scss */
#header .menu .container .right .cart {
  padding-top: 0.2em;
  cursor: pointer;
}
/* line 201, ../sass/index.scss */
#header .menu .container .right .cart .icon-cart {
  color: #357b7c;
  font-size: 1.2em;
}
/* line 204, ../sass/index.scss */
#header .menu .container .right .cart .icon-cart span {
  color: #357b7c;
  font-size: 1em;
  font-weight: bold;
}
/* line 210, ../sass/index.scss */
#header .menu .container .right .cart:hover {
  opacity: 0.8;
}
/* line 214, ../sass/index.scss */
#header .menu .container .right .search {
  position: relative;
}
/* line 216, ../sass/index.scss */
#header .menu .container .right .search .icon-search:before {
  cursor: pointer;
  position: absolute;
  top: 30%;
  right: 5%;
  padding-left: 5px;
  border-left: 1px solid #999;
}
/* line 224, ../sass/index.scss */
#header .menu .container .right .search input {
  padding: 6px 10px;
  border: 1px solid #999;
  background-color: #eee;
  border-radius: 14px;
  outline: 0;
}

/* line 237, ../sass/index.scss */
#footer {
  background-color: #f7f7f7;
  padding: 1.2em 0 0;
}
/* line 241, ../sass/index.scss */
#footer .container > * {
  margin-top: 1em;
  display: inline-block;
  width: 100%;
}
@media (max-width: 992px) {
  /* line 246, ../sass/index.scss */
  #footer .container .top {
    text-align: center;
  }
}
/* line 250, ../sass/index.scss */
#footer .container .top a {
  position: relative;
  text-decoration: none;
  padding-right: 1.6em;
  line-height: 1.5;
}
/* line 255, ../sass/index.scss */
#footer .container .top a:after {
  position: absolute;
  content: '';
  right: 6px;
  top: 3px;
  width: 2px;
  height: 14px;
  background-color: #666;
}
/* line 264, ../sass/index.scss */
#footer .container .top a:last-child {
  padding-right: 0;
}
/* line 266, ../sass/index.scss */
#footer .container .top a:last-child:after {
  background-color: transparent;
}
/* line 273, ../sass/index.scss */
#footer .container .center > * {
  display: inline-block;
  float: left;
  height: 4.5em;
}
@media (max-width: 992px) {
  /* line 273, ../sass/index.scss */
  #footer .container .center > * {
    display: block;
    float: none;
  }
}
/* line 281, ../sass/index.scss */
#footer .container .center > * + * {
  margin-left: 1.2em;
}
@media (max-width: 992px) {
  /* line 281, ../sass/index.scss */
  #footer .container .center > * + * {
    margin-top: 1.2em;
  }
}
/* line 288, ../sass/index.scss */
#footer .container .center .left {
  width: 15%;
  line-height: 4.5em;
  text-align: center;
  border: 1px solid #666;
}
@media (max-width: 992px) {
  /* line 288, ../sass/index.scss */
  #footer .container .center .left {
    width: 100%;
  }
}
/* line 297, ../sass/index.scss */
#footer .container .center .right {
  width: calc(100% - 15% - 1.2em);
}
/* line 300, ../sass/index.scss */
#footer .container .center .right > div + div {
  margin-top: 0.6em;
}
/* line 303, ../sass/index.scss */
#footer .container .center .right > div b {
  font-size: 1em;
  margin-right: 0.2em;
}
/* line 311, ../sass/index.scss */
#footer .bottom {
  margin-top: 1em;
  text-align: center;
  background-color: #EAEAEA;
}
/* line 315, ../sass/index.scss */
#footer .bottom .container {
  padding: 1em;
}

/* line 321, ../sass/index.scss */
.arrow {
  font-size: 20px;
  color: #fff;
  background-color: #2d6a6b;
  position: fixed;
  bottom: 1em;
  right: 4em;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
/* line 334, ../sass/index.scss */
.arrow:hover {
  opacity: 0.8;
}

/* line 341, ../sass/index.scss */
#awards .container > * {
  display: inline-block;
  float: left;
}
/* line 344, ../sass/index.scss */
#awards .container > * + * {
  margin-left: 1.2em;
}
@media (max-width: 1200px) {
  /* line 344, ../sass/index.scss */
  #awards .container > * + * {
    margin-left: 0;
  }
}
/* line 351, ../sass/index.scss */
#awards .container .left {
  width: 30%;
  padding: 1.2em;
  background-color: #EAEAEA;
  text-align: center;
  line-height: 1.8;
}
@media (max-width: 1200px) {
  /* line 351, ../sass/index.scss */
  #awards .container .left {
    display: block;
    width: 100%;
  }
}
/* line 361, ../sass/index.scss */
#awards .container .left > div:first-child {
  margin-bottom: 0.6em;
  font-size: 2em;
  font-weight: bold;
}
/* line 367, ../sass/index.scss */
#awards .container .right {
  width: calc(70% - 1.2em);
  text-align: center;
}
@media (max-width: 1200px) {
  /* line 367, ../sass/index.scss */
  #awards .container .right {
    display: block;
    width: 100%;
    margin-top: 1.2em;
  }
}
/* line 375, ../sass/index.scss */
#awards .container .right img {
  height: 9.5em;
}
@media (max-width: 1200px) {
  /* line 375, ../sass/index.scss */
  #awards .container .right img {
    height: 8.5em;
  }
}
/* line 380, ../sass/index.scss */
#awards .container .right img + * {
  margin-left: 1.6em;
}

/* line 388, ../sass/index.scss */
#fun {
  color: #fff;
  text-align: center;
  background-image: url(../images/index_bg_01.jpg);
  background-position: center;
}
/* line 393, ../sass/index.scss */
#fun .info {
  margin-top: 2.4em;
  height: 35vh;
  line-height: 2;
  opacity: 0.7;
}
@media (max-width: 768px) {
  /* line 393, ../sass/index.scss */
  #fun .info {
    height: 50vh;
  }
}
/* line 401, ../sass/index.scss */
#fun .info > div:first-child {
  font-size: 2.8em;
}
@media (max-width: 768px) {
  /* line 401, ../sass/index.scss */
  #fun .info > div:first-child {
    font-size: 2em;
  }
}
/* line 407, ../sass/index.scss */
#fun .info > div:last-child {
  font-size: 1.6em;
  font-weight: 500;
}
@media (max-width: 768px) {
  /* line 407, ../sass/index.scss */
  #fun .info > div:last-child {
    font-size: 1.2em;
  }
}

/* line 417, ../sass/index.scss */
#child {
  color: #000;
  text-align: center;
  background-image: url(../images/index_bg_02.jpg);
  background-position: 5% 30%;
}
@media (max-width: 992px) {
  /* line 417, ../sass/index.scss */
  #child {
    background-position: 22% 30%;
  }
}
/* line 425, ../sass/index.scss */
#child .info {
  margin-top: 2.2em;
  margin-left: 8.4em;
  height: 30vh;
  line-height: 2;
  opacity: 0.7;
}
@media (max-width: 1200px) {
  /* line 425, ../sass/index.scss */
  #child .info {
    margin-top: 1em;
    margin-left: 1em;
    height: 50vh;
    line-height: 1.2;
  }
}
/* line 437, ../sass/index.scss */
#child .info > div {
  font-size: 1.6em;
  font-weight: 500;
}
@media (max-width: 1200px) {
  /* line 437, ../sass/index.scss */
  #child .info > div {
    font-size: 1.2em;
    margin-top: 1.2em;
  }
}
/* line 445, ../sass/index.scss */
#child .info > div:first-child {
  font-size: 2.8em;
}
@media (max-width: 1200px) {
  /* line 445, ../sass/index.scss */
  #child .info > div:first-child {
    font-size: 2.4em;
  }
}

@media (max-width: 992px) {
  /* line 458, ../sass/index.scss */
  #news .info .left img,
  #news .info .right img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  /* line 464, ../sass/index.scss */
  #news .info .right {
    margin-top: 1.2em;
  }
}
/* line 469, ../sass/index.scss */
#news .info .img {
  position: relative;
  cursor: pointer;
}
/* line 473, ../sass/index.scss */
#news .info .img:hover img:hover {
  filter: grayscale(0.5);
}
/* line 476, ../sass/index.scss */
#news .info .img:hover a {
  display: inline-block;
}
/* line 480, ../sass/index.scss */
#news .info .img img {
  filter: grayscale(0);
}

/* line 487, ../sass/index.scss */
#sale {
  background-color: #fff9d5;
}
/* line 490, ../sass/index.scss */
#sale .info .n5 {
  background-color: #fff;
  margin-right: 1.2em;
  margin-bottom: 1.2em;
  display: inline-block;
  float: left;
  width: calc((100% - 1.2em*4)/ 5);
  border: 1px solid #cfcfcf;
  box-shadow: 1px 1px 10px #ccc;
  border-radius: 8px;
  overflow: hidden;
  min-height: 40vh;
}
@media (max-width: 992px) {
  /* line 490, ../sass/index.scss */
  #sale .info .n5 {
    display: inline-block;
    float: left;
    width: calc((100% - 1.2em)/ 2);
  }
}
/* line 507, ../sass/index.scss */
#sale .info .n5:nth-child(5n) {
  margin-right: 0;
}
@media (max-width: 992px) {
  /* line 507, ../sass/index.scss */
  #sale .info .n5:nth-child(5n) {
    margin-right: 1.2em;
  }
}
@media (max-width: 992px) {
  /* line 513, ../sass/index.scss */
  #sale .info .n5:nth-child(2n) {
    margin-right: 0;
  }
}
/* line 518, ../sass/index.scss */
#sale .info .n5 .cover {
  cursor: pointer;
}
/* line 521, ../sass/index.scss */
#sale .info .n5 .cover:hover img {
  filter: blur(1px) grayscale(0.7);
}
/* line 526, ../sass/index.scss */
#sale .info .n5 .desc {
  padding: 1em;
}
/* line 528, ../sass/index.scss */
#sale .info .n5 .desc > div:first-child {
  font-size: 1.2em;
  min-height: 4.2em;
}
/* line 532, ../sass/index.scss */
#sale .info .n5 .desc > :not(:first-child) {
  text-align: right;
}
/* line 535, ../sass/index.scss */
#sale .info .n5 .desc .price {
  font-size: 1.2em;
  opacity: 0.5;
}
/* line 539, ../sass/index.scss */
#sale .info .n5 .desc .discount {
  font-size: 2em;
  color: #d51f1f;
  font-weight: 700;
}

/* line 549, ../sass/index.scss */
.slider {
  width: 100%;
}
/* line 551, ../sass/index.scss */
.slider .slick-slide img {
  width: 100%;
}
/* line 554, ../sass/index.scss */
.slider .slick-dots {
  bottom: 20px;
}

/* line 560, ../sass/index.scss */
#video .youtube {
  position: relative;
}
@media (max-width: 992px) {
  /* line 560, ../sass/index.scss */
  #video .youtube {
    margin-top: 1.2em;
  }
}
/* line 565, ../sass/index.scss */
#video .youtube .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  padding-left: 2px;
  width: 70px;
}
/* line 574, ../sass/index.scss */
#video .youtube .arrow:hover {
  background-color: #d51f1f;
}
/* line 577, ../sass/index.scss */
#video .youtube .arrow a {
  color: #fff;
  font-size: 1.2em;
}

/* line 585, ../sass/index.scss */
.social {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 2;
}
@media (max-width: 992px) {
  /* line 585, ../sass/index.scss */
  .social {
    display: none;
  }
}
/* line 593, ../sass/index.scss */
.social ul {
  text-align: center;
}
/* line 595, ../sass/index.scss */
.social ul li {
  cursor: pointer;
  list-style: none;
  width: 3em;
  height: 3em;
  line-height: 3em;
  color: #fff;
  font-size: 1.2em;
}
/* line 603, ../sass/index.scss */
.social ul li + * {
  margin-top: 0.6em;
}
/* line 606, ../sass/index.scss */
.social ul li a {
  display: block;
}
/* line 610, ../sass/index.scss */
.social ul .icon-facebook:before {
  font-size: 1.4em;
}
/* line 613, ../sass/index.scss */
.social ul .icon-mail4:before {
  font-size: 1.4em;
}
/* line 616, ../sass/index.scss */
.social ul .icon-heart:before {
  font-size: 1.2em;
}

/* line 624, ../sass/index.scss */
.modal .form-group {
  text-align: left;
}
