/* line 2, ../sass/style.scss */
.red {
  color: #d51f1f;
}

/* line 6, ../sass/style.scss */
.orange {
  background-color: #ffc53d;
}

/* line 10, ../sass/style.scss */
.blue {
  background-color: #57a1d9;
}

/* line 14, ../sass/style.scss */
.green {
  background-color: #5db9ba;
}

/* line 18, ../sass/style.scss */
.pink {
  background-color: #ff8793;
}

/* line 22, ../sass/style.scss */
.purple {
  background-color: #ab83e8;
}

/* line 52, ../sass/style.scss */
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft Yahei', serif;
  letter-spacing: 1px;
  color: #666;
}

/* line 61, ../sass/style.scss */
a,
a:hover {
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

/* line 68, ../sass/style.scss */
section {
  padding: 2em 0;
}

/* line 72, ../sass/style.scss */
.title {
  text-align: center;
}
/* line 74, ../sass/style.scss */
.title > div {
  font-size: 1.6em;
  font-weight: 500;
}
/* line 78, ../sass/style.scss */
.title .cn {
  font-size: 1.8em;
  margin-top: 0.6em;
}
/* line 82, ../sass/style.scss */
.title .eng {
  font-size: 1.2em;
  opacity: 0.8;
}

/* line 89, ../sass/style.scss */
.info {
  margin-top: 1.6em;
}

/* line 93, ../sass/style.scss */
#header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 20;
  background-color: #93D0D1;
  text-align: center;
}
/* line 101, ../sass/style.scss */
#header .top {
  text-align: right;
  padding: 0.5em 0 0.2em;
  vertical-align: middle;
}
@media (max-width: 992px) {
  /* line 101, ../sass/style.scss */
  #header .top {
    display: none;
  }
}
/* line 108, ../sass/style.scss */
#header .top a {
  position: relative;
  color: #fff;
  text-decoration: none;
  padding-right: 0.8em;
  line-height: 1.5;
}
/* line 114, ../sass/style.scss */
#header .top a:before {
  font-size: 1.4em;
}
/* line 117, ../sass/style.scss */
#header .top a:first-child:after {
  position: absolute;
  content: '';
  right: 3px;
  top: 3px;
  width: 2px;
  height: 14px;
  background-color: #fff;
}
/* line 126, ../sass/style.scss */
#header .top a:last-child {
  padding-right: 0;
}
/* line 131, ../sass/style.scss */
#header .logo {
  padding: 1em 0 1.2em;
}
/* line 134, ../sass/style.scss */
#header .menu {
  background-color: #fff;
  padding: 0.6em 0 0.4em;
  border-bottom: 1px solid #999;
}
/* line 139, ../sass/style.scss */
#header .menu .container > * {
  display: inline-block;
  float: left;
}
/* line 143, ../sass/style.scss */
#header .menu .container .left {
  text-align: left;
  width: 75%;
}
@media (max-width: 992px) {
  /* line 143, ../sass/style.scss */
  #header .menu .container .left {
    width: 10%;
  }
}
@media (max-width: 992px) {
  /* line 150, ../sass/style.scss */
  #header .menu .container .left .icon-menu .list {
    background-color: #fff;
    position: absolute;
    display: none;
    top: 128px;
    right: 0;
    width: 100%;
  }
}
/* line 159, ../sass/style.scss */
#header .menu .container .left .icon-menu .list a {
  text-align: center;
  display: inline-block;
  width: calc(100% / 6);
  padding: 0.4em 0;
}
@media (max-width: 992px) {
  /* line 159, ../sass/style.scss */
  #header .menu .container .left .icon-menu .list a {
    display: inline-block;
    padding: 0.8em 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
  /* line 169, ../sass/style.scss */
  #header .menu .container .left .icon-menu .list a:hover {
    background-color: #5db9ba;
    color: #fff;
  }
}
/* line 176, ../sass/style.scss */
#header .menu .container .left .icon-menu::before {
  cursor: pointer;
  font-size: 1.6em;
  display: none;
  color: #93D0D1;
}
@media (max-width: 992px) {
  /* line 176, ../sass/style.scss */
  #header .menu .container .left .icon-menu::before {
    display: inline-block;
    position: relative;
  }
}
@media (max-width: 992px) {
  /* line 187, ../sass/style.scss */
  #header .menu .container .left .icon-menu::before:hover .list {
    display: inline-block;
  }
}
/* line 195, ../sass/style.scss */
#header .menu .container .right {
  text-align: right;
  width: 25%;
}
@media (max-width: 992px) {
  /* line 195, ../sass/style.scss */
  #header .menu .container .right {
    width: 90%;
  }
}
/* line 201, ../sass/style.scss */
#header .menu .container .right > * {
  display: inline-block;
}
/* line 204, ../sass/style.scss */
#header .menu .container .right .cart {
  padding-top: 0.2em;
  cursor: pointer;
}
/* line 207, ../sass/style.scss */
#header .menu .container .right .cart .icon-cart {
  color: #357b7c;
  font-size: 1.2em;
}
/* line 210, ../sass/style.scss */
#header .menu .container .right .cart .icon-cart span {
  color: #357b7c;
  font-size: 1em;
  font-weight: bold;
}
/* line 216, ../sass/style.scss */
#header .menu .container .right .cart:hover {
  opacity: 0.8;
}
/* line 220, ../sass/style.scss */
#header .menu .container .right .search {
  position: relative;
}
/* line 222, ../sass/style.scss */
#header .menu .container .right .search .icon-search:before {
  cursor: pointer;
  position: absolute;
  top: 30%;
  right: 5%;
  padding-left: 5px;
  border-left: 1px solid #999;
}
/* line 230, ../sass/style.scss */
#header .menu .container .right .search input {
  padding: 6px 10px;
  border: 1px solid #999;
  background-color: #eee;
  border-radius: 14px;
  outline: 0;
}

/* line 243, ../sass/style.scss */
#footer {
  background-color: #f7f7f7;
  padding: 1.2em 0 0;
}
/* line 247, ../sass/style.scss */
#footer .container > * {
  margin-top: 1em;
  display: inline-block;
  width: 100%;
}
@media (max-width: 992px) {
  /* line 252, ../sass/style.scss */
  #footer .container .top {
    text-align: center;
  }
}
/* line 256, ../sass/style.scss */
#footer .container .top a {
  position: relative;
  text-decoration: none;
  padding-right: 1.6em;
  line-height: 1.5;
}
/* line 261, ../sass/style.scss */
#footer .container .top a:after {
  position: absolute;
  content: '';
  right: 6px;
  top: 3px;
  width: 2px;
  height: 14px;
  background-color: #666;
}
/* line 270, ../sass/style.scss */
#footer .container .top a:last-child {
  padding-right: 0;
}
/* line 272, ../sass/style.scss */
#footer .container .top a:last-child:after {
  background-color: transparent;
}
/* line 279, ../sass/style.scss */
#footer .container .center > * {
  display: inline-block;
  float: left;
  height: 4.5em;
}
@media (max-width: 992px) {
  /* line 279, ../sass/style.scss */
  #footer .container .center > * {
    display: block;
    float: none;
  }
}
/* line 287, ../sass/style.scss */
#footer .container .center > * + * {
  margin-left: 1.2em;
}
@media (max-width: 992px) {
  /* line 287, ../sass/style.scss */
  #footer .container .center > * + * {
    margin-top: 1.2em;
  }
}
/* line 294, ../sass/style.scss */
#footer .container .center .left {
  width: 15%;
  line-height: 4.5em;
  text-align: center;
  border: 1px solid #666;
}
@media (max-width: 992px) {
  /* line 294, ../sass/style.scss */
  #footer .container .center .left {
    width: 100%;
  }
}
/* line 303, ../sass/style.scss */
#footer .container .center .right {
  width: calc(100% - 15% - 1.2em);
}
/* line 306, ../sass/style.scss */
#footer .container .center .right > div + div {
  margin-top: 0.6em;
}
/* line 309, ../sass/style.scss */
#footer .container .center .right > div b {
  font-size: 1em;
  margin-right: 0.2em;
}
/* line 317, ../sass/style.scss */
#footer .bottom {
  margin-top: 1em;
  text-align: center;
  background-color: #EAEAEA;
}
/* line 321, ../sass/style.scss */
#footer .bottom .container {
  padding: 1em;
}

/* line 327, ../sass/style.scss */
.arrow {
  font-size: 20px;
  color: #fff;
  background-color: #2d6a6b;
  position: fixed;
  bottom: 1em;
  right: 4em;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
/* line 340, ../sass/style.scss */
.arrow:hover {
  opacity: 0.8;
}

/* line 347, ../sass/style.scss */
#awards .container > * {
  display: inline-block;
  float: left;
}
/* line 350, ../sass/style.scss */
#awards .container > * + * {
  margin-left: 1.2em;
}
@media (max-width: 1200px) {
  /* line 350, ../sass/style.scss */
  #awards .container > * + * {
    margin-left: 0;
  }
}
/* line 357, ../sass/style.scss */
#awards .container .left {
  width: 30%;
  padding: 1.2em;
  background-color: #EAEAEA;
  text-align: center;
  line-height: 1.8;
}
@media (max-width: 1200px) {
  /* line 357, ../sass/style.scss */
  #awards .container .left {
    display: block;
    width: 100%;
  }
}
/* line 367, ../sass/style.scss */
#awards .container .left > div:first-child {
  margin-bottom: 0.6em;
  font-size: 2em;
  font-weight: bold;
}
/* line 373, ../sass/style.scss */
#awards .container .right {
  width: calc(70% - 1.2em);
  text-align: center;
}
@media (max-width: 1200px) {
  /* line 373, ../sass/style.scss */
  #awards .container .right {
    display: block;
    width: 100%;
    margin-top: 1.2em;
  }
}
/* line 381, ../sass/style.scss */
#awards .container .right img {
  height: 9.5em;
}
@media (max-width: 1200px) {
  /* line 381, ../sass/style.scss */
  #awards .container .right img {
    height: 8.5em;
  }
}
/* line 386, ../sass/style.scss */
#awards .container .right img + * {
  margin-left: 1.6em;
}

/* line 394, ../sass/style.scss */
#fun {
  color: #fff;
  text-align: center;
  background-image: url(../images/index_bg_01.jpg);
  background-position: center;
}
/* line 399, ../sass/style.scss */
#fun .info {
  margin-top: 2.4em;
  height: 35vh;
  line-height: 2;
  opacity: 0.7;
}
@media (max-width: 768px) {
  /* line 399, ../sass/style.scss */
  #fun .info {
    height: 50vh;
  }
}
/* line 407, ../sass/style.scss */
#fun .info > div:first-child {
  font-size: 2.8em;
}
@media (max-width: 768px) {
  /* line 407, ../sass/style.scss */
  #fun .info > div:first-child {
    font-size: 2em;
  }
}
/* line 413, ../sass/style.scss */
#fun .info > div:last-child {
  font-size: 1.6em;
  font-weight: 500;
}
@media (max-width: 768px) {
  /* line 413, ../sass/style.scss */
  #fun .info > div:last-child {
    font-size: 1.2em;
  }
}

/* line 423, ../sass/style.scss */
#child {
  color: #000;
  text-align: center;
  background-image: url(../images/index_bg_02.jpg);
  background-position: 5% 30%;
}
@media (max-width: 992px) {
  /* line 423, ../sass/style.scss */
  #child {
    background-position: 22% 30%;
  }
}
/* line 431, ../sass/style.scss */
#child .info {
  margin-top: 2.2em;
  margin-left: 8.4em;
  height: 30vh;
  line-height: 2;
  opacity: 0.7;
}
@media (max-width: 1200px) {
  /* line 431, ../sass/style.scss */
  #child .info {
    margin-top: 1em;
    margin-left: 1em;
    height: 50vh;
    line-height: 1.2;
  }
}
/* line 443, ../sass/style.scss */
#child .info > div {
  font-size: 1.6em;
  font-weight: 500;
}
@media (max-width: 1200px) {
  /* line 443, ../sass/style.scss */
  #child .info > div {
    font-size: 1.2em;
    margin-top: 1.2em;
  }
}
/* line 451, ../sass/style.scss */
#child .info > div:first-child {
  font-size: 2.8em;
}
@media (max-width: 1200px) {
  /* line 451, ../sass/style.scss */
  #child .info > div:first-child {
    font-size: 2.4em;
  }
}

@media (max-width: 992px) {
  /* line 464, ../sass/style.scss */
  #news .info .left img,
  #news .info .right img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  /* line 470, ../sass/style.scss */
  #news .info .right {
    margin-top: 1.2em;
  }
}
/* line 475, ../sass/style.scss */
#news .info .img {
  position: relative;
  cursor: pointer;
}
/* line 479, ../sass/style.scss */
#news .info .img:hover img:hover {
  filter: grayscale(0.5);
}
/* line 482, ../sass/style.scss */
#news .info .img:hover a {
  display: inline-block;
}
/* line 486, ../sass/style.scss */
#news .info .img img {
  filter: grayscale(0);
}

/* line 493, ../sass/style.scss */
#sale {
  background-color: #fff9d5;
}
/* line 496, ../sass/style.scss */
#sale .info .n5 {
  background-color: #fff;
  margin-right: 1.2em;
  margin-bottom: 1.2em;
  display: inline-block;
  float: left;
  width: calc((100% - 1.2em*4)/ 5);
  border: 1px solid #cfcfcf;
  box-shadow: 1px 1px 10px #ccc;
  border-radius: 8px;
  overflow: hidden;
  min-height: 40vh;
}
@media (max-width: 992px) {
  /* line 496, ../sass/style.scss */
  #sale .info .n5 {
    display: inline-block;
    float: left;
    width: calc((100% - 1.2em)/ 2);
  }
}
/* line 513, ../sass/style.scss */
#sale .info .n5:nth-child(5n) {
  margin-right: 0;
}
@media (max-width: 992px) {
  /* line 513, ../sass/style.scss */
  #sale .info .n5:nth-child(5n) {
    margin-right: 1.2em;
  }
}
@media (max-width: 992px) {
  /* line 519, ../sass/style.scss */
  #sale .info .n5:nth-child(2n) {
    margin-right: 0;
  }
}
/* line 524, ../sass/style.scss */
#sale .info .n5 .cover {
  cursor: pointer;
}
/* line 527, ../sass/style.scss */
#sale .info .n5 .cover:hover img {
  filter: blur(1px) grayscale(0.7);
}
/* line 532, ../sass/style.scss */
#sale .info .n5 .desc {
  padding: 1em;
}
/* line 534, ../sass/style.scss */
#sale .info .n5 .desc > div:first-child {
  font-size: 1.2em;
  min-height: 4.2em;
}
/* line 538, ../sass/style.scss */
#sale .info .n5 .desc > :not(:first-child) {
  text-align: right;
}
/* line 541, ../sass/style.scss */
#sale .info .n5 .desc .price {
  font-size: 1.2em;
  opacity: 0.5;
}
/* line 545, ../sass/style.scss */
#sale .info .n5 .desc .discount {
  font-size: 2em;
  color: #d51f1f;
  font-weight: 700;
}

/* line 555, ../sass/style.scss */
.slider {
  margin-top: 7.2em;
  width: 100%;
}
/* line 558, ../sass/style.scss */
.slider .slick-slide img {
  width: 100%;
}
/* line 561, ../sass/style.scss */
.slider .slick-dots {
  bottom: 20px;
}

/* line 567, ../sass/style.scss */
#video .youtube {
  position: relative;
}
@media (max-width: 992px) {
  /* line 567, ../sass/style.scss */
  #video .youtube {
    margin-top: 1.2em;
  }
}
/* line 572, ../sass/style.scss */
#video .youtube .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  padding-left: 2px;
  width: 70px;
}
/* line 581, ../sass/style.scss */
#video .youtube .arrow:hover {
  background-color: #d51f1f;
}
/* line 584, ../sass/style.scss */
#video .youtube .arrow a {
  color: #fff;
  font-size: 1.2em;
}

/* line 592, ../sass/style.scss */
.social {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 2;
}
@media (max-width: 992px) {
  /* line 592, ../sass/style.scss */
  .social {
    display: none;
  }
}
/* line 600, ../sass/style.scss */
.social ul {
  text-align: center;
}
/* line 602, ../sass/style.scss */
.social ul li {
  cursor: pointer;
  list-style: none;
  width: 3em;
  height: 3em;
  line-height: 3em;
  color: #fff;
  font-size: 1.2em;
}
/* line 610, ../sass/style.scss */
.social ul li + * {
  margin-top: 0.6em;
}
/* line 613, ../sass/style.scss */
.social ul li a {
  display: block;
}
/* line 617, ../sass/style.scss */
.social ul .icon-facebook:before {
  font-size: 1.4em;
}
/* line 620, ../sass/style.scss */
.social ul .icon-mail4:before {
  font-size: 1.4em;
}
/* line 623, ../sass/style.scss */
.social ul .icon-heart:before {
  font-size: 1.2em;
}

/* line 628, ../sass/style.scss */
#memberjoin,
#product,
#productitem,
#eventitem,
#video,
#about,
#event,
#contact,
#account {
  margin-top: 12em;
}
/* line 638, ../sass/style.scss */
#memberjoin .title,
#product .title,
#productitem .title,
#eventitem .title,
#video .title,
#about .title,
#event .title,
#contact .title,
#account .title {
  text-align: left;
  padding-left: 1.2em;
  border-left: 5px solid #5db9ba;
  margin-bottom: 1.2em;
}

/* line 648, ../sass/style.scss */
#event .info > * {
  padding: 1.2em 0.8em;
  font-size: 1.2em;
}
/* line 651, ../sass/style.scss */
#event .info > *:hover {
  cursor: pointer;
  opacity: 0.8;
}
/* line 655, ../sass/style.scss */
#event .info > *:nth-child(odd) {
  background-color: #ecf7f7;
}
/* line 659, ../sass/style.scss */
#event .info > * a > * {
  display: inline-block;
}
/* line 664, ../sass/style.scss */
#event .info .date {
  width: 12%;
  opacity: 0.7;
  text-align: center;
}
/* line 669, ../sass/style.scss */
#event .info .name {
  width: 15%;
  text-align: center;
  color: #fff;
  padding: 0.4em 0 0.6em;
  border-radius: 8px;
}
/* line 675, ../sass/style.scss */
#event .info .name:before {
  margin-right: 0.4em;
  margin-top: 0.5em;
  font-size: 0.8em;
}
/* line 681, ../sass/style.scss */
#event .info .item {
  width: calc;
}

/* line 688, ../sass/style.scss */
#eventitem .title {
  text-align: left;
  margin-bottom: 1.2em;
}
/* line 693, ../sass/style.scss */
#eventitem .left .title {
  padding-left: 1.2em;
  border-left: 5px solid #5db9ba;
}
/* line 697, ../sass/style.scss */
#eventitem .left .img {
  padding: 1.2em;
  background-color: #EAEAEA;
  border: 1px solid #a8a8a8;
}
/* line 706, ../sass/style.scss */
#eventitem .right .list + * {
  margin-top: 3.6em;
}
/* line 710, ../sass/style.scss */
#eventitem .right .title {
  border: 0;
}
/* line 712, ../sass/style.scss */
#eventitem .right .title img {
  height: 2em;
  margin-right: 0.6em;
}
/* line 717, ../sass/style.scss */
#eventitem .right .item {
  margin-bottom: 1.8em;
}
/* line 719, ../sass/style.scss */
#eventitem .right .item .img {
  padding: 1.2em;
  background-color: #ecf7f7;
  margin-bottom: 1.2em;
}

/* line 729, ../sass/style.scss */
#product .list-group {
  border-top: 3px solid #93D0D1;
  border-radius: 4px;
  overflow: hidden;
}
/* line 733, ../sass/style.scss */
#product .list-group .list-group-item {
  padding: 15px;
}
/* line 735, ../sass/style.scss */
#product .list-group .list-group-item:hover {
  background-color: #dbefef;
  color: #3d8d8e;
}
/* line 738, ../sass/style.scss */
#product .list-group .list-group-item:hover .badge {
  background-color: #3d8d8e;
}
/* line 745, ../sass/style.scss */
#product .right .title {
  margin-bottom: 1.2em;
  text-align: left;
  color: #3d8d8e;
}
/* line 751, ../sass/style.scss */
#product .right .col-md-3 .item {
  margin: 0.6em;
  padding: 1em;
}
/* line 752, ../sass/style.scss */
#product .right .col-md-3 .item img {
  margin-bottom: 1.2em;
}
/* line 754, ../sass/style.scss */
#product .right .col-md-3 .item img:hover {
  filter: blur(1px) grayscale(0.7);
}
/* line 759, ../sass/style.scss */
#product .right .col-md-3 .item img {
  margin-bottom: 1.2em;
}
/* line 763, ../sass/style.scss */
#product .right .col-md-3 .item > div:first-child {
  font-size: 1.2em;
  min-height: 4.2em;
}
/* line 767, ../sass/style.scss */
#product .right .col-md-3 .item > :not(:first-child) {
  text-align: right;
}
/* line 770, ../sass/style.scss */
#product .right .col-md-3 .item .price {
  font-size: 1.2em;
  opacity: 0.5;
}
/* line 774, ../sass/style.scss */
#product .right .col-md-3 .item .discount {
  font-size: 2em;
  color: #d51f1f;
  font-weight: 700;
}

/* line 785, ../sass/style.scss */
#productitem .list-group {
  border-top: 3px solid #93D0D1;
  border-radius: 4px;
  overflow: hidden;
}
/* line 789, ../sass/style.scss */
#productitem .list-group .list-group-item {
  padding: 15px;
}
/* line 791, ../sass/style.scss */
#productitem .list-group .list-group-item:hover {
  background-color: #dbefef;
  color: #3d8d8e;
}
/* line 794, ../sass/style.scss */
#productitem .list-group .list-group-item:hover .badge {
  background-color: #3d8d8e;
}
/* line 801, ../sass/style.scss */
#productitem .right .productList {
  text-align: center;
}
/* line 803, ../sass/style.scss */
#productitem .right .productList .col-md-6 {
  padding: 1.4em;
}
/* line 805, ../sass/style.scss */
#productitem .right .productList .col-md-6 img {
  width: 100%;
}
/* line 808, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) {
  text-align: left;
}
/* line 810, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .title {
  margin-bottom: 1.6em;
}
/* line 813, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) li {
  line-height: 2;
}
/* line 816, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .price {
  padding: 1.2em;
}
/* line 818, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .price > * {
  font-size: 1.2em;
}
/* line 820, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .price > * + * {
  margin-left: 1.6em;
  color: #d51f1f;
  font-size: 1.6em;
  font-weight: 700;
}
/* line 828, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .quantity {
  padding: 1.2em;
  font-size: 1.2em;
}
/* line 831, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .quantity select {
  padding: 0.2em;
  border-radius: 4px;
  width: 30%;
}
/* line 837, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .button {
  padding: 1.2em;
}
/* line 839, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .button .btn {
  padding: 8px 16px;
}
/* line 842, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .button .btn-default {
  border: 1px solid #d9534f;
}
/* line 844, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .button .btn-default:hover {
  background-color: #f9e2e2;
}
/* line 847, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .button .btn-default .icon-heart {
  color: #d9534f;
}
/* line 849, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .button .btn-default .icon-heart:before {
  font-size: 1.2em;
  line-height: 1.2;
}
/* line 860, ../sass/style.scss */
#productitem .right .desc img {
  width: 100%;
}
/* line 863, ../sass/style.scss */
#productitem .right .desc .title {
  font-size: 1.2em;
  text-align: left;
  padding: 0.6em 0 0.4em;
  border-bottom: 3px solid #3d8d8e;
  color: #fff;
  margin-bottom: 1.2em;
}
/* line 870, ../sass/style.scss */
#productitem .right .desc .title span {
  margin: 0;
  padding: 0.6em;
  background-color: #3d8d8e;
  border-radius: 10px 10px 0 0;
}

/* line 882, ../sass/style.scss */
#about img {
  margin-top: 1.2em;
}

/* line 890, ../sass/style.scss */
#video .video .slick-slide,
#video .share .slick-slide {
  padding: 1.2em;
}
/* line 893, ../sass/style.scss */
#video .video .slick-dots,
#video .share .slick-dots {
  bottom: -20px;
}
/* line 899, ../sass/style.scss */
#video .share .item img {
  margin-bottom: 2.4em;
}
/* line 902, ../sass/style.scss */
#video .share .item .desc {
  padding: 1.2em;
  text-align: center;
}
/* line 905, ../sass/style.scss */
#video .share .item .desc > * {
  margin-bottom: 1.2em;
}
/* line 909, ../sass/style.scss */
#video .share .item .desc > div:nth-child(1) span {
  font-size: 1.2em;
  color: #fff;
  background-color: #93D0D1;
  padding: 6px 16px;
  border-radius: 6px;
}
/* line 917, ../sass/style.scss */
#video .share .item .desc > div:nth-child(2) {
  font-size: 1.2em;
}
/* line 920, ../sass/style.scss */
#video .share .item .desc > div:nth-child(3) {
  opacity: 0.6;
  text-align: left;
}

@media (max-width: 992px) {
  /* line 930, ../sass/style.scss */
  #account .left {
    margin-bottom: 1.2em;
  }
}
/* line 935, ../sass/style.scss */
#account .panel-success {
  border: 1px solid #4cb0b2;
}
/* line 937, ../sass/style.scss */
#account .panel-success .panel-heading {
  background-color: #4cb0b2;
  color: #fff;
  cursor: pointer;
}
/* line 943, ../sass/style.scss */
#account .panel-success .panel-heading .panel-title a:hover {
  color: #fff;
}
/* line 950, ../sass/style.scss */
#account .panel-heading {
  cursor: pointer;
}

/* line 958, ../sass/style.scss */
#memberjoin .date .form-control,
#memberjoin .address .form-control {
  width: calc((100% - 0.4em*2) / 3);
}
@media (max-width: 768px) {
  /* line 958, ../sass/style.scss */
  #memberjoin .date .form-control,
  #memberjoin .address .form-control {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 963, ../sass/style.scss */
  #memberjoin .date .form-control + *,
  #memberjoin .address .form-control + * {
    margin-top: 1.2em;
  }
}
/* line 971, ../sass/style.scss */
#memberjoin .address > .form-control {
  margin-top: 1.2em;
  width: 100%;
}
/* line 977, ../sass/style.scss */
#memberjoin .getInfo > .form-control {
  margin-top: 1.2em;
}

/* line 984, ../sass/style.scss */
#account .panel-success {
  border: 1px solid #4cb0b2;
}
/* line 986, ../sass/style.scss */
#account .panel-success .panel-heading {
  background-color: #4cb0b2;
  color: #fff;
  cursor: pointer;
}
/* line 992, ../sass/style.scss */
#account .panel-success .panel-heading .panel-title a:hover {
  color: #fff;
}
/* line 999, ../sass/style.scss */
#account .panel-heading {
  cursor: pointer;
}

/* line 1007, ../sass/style.scss */
#memberjoin .date .form-control,
#memberjoin .address .form-control {
  width: calc((100% - 0.4em*2) / 3);
}
@media (max-width: 768px) {
  /* line 1007, ../sass/style.scss */
  #memberjoin .date .form-control,
  #memberjoin .address .form-control {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 1012, ../sass/style.scss */
  #memberjoin .date .form-control + *,
  #memberjoin .address .form-control + * {
    margin-top: 1.2em;
  }
}
/* line 1020, ../sass/style.scss */
#memberjoin .address > .form-control {
  margin-top: 1.2em;
  width: 100%;
}
/* line 1026, ../sass/style.scss */
#memberjoin .getInfo > .form-control {
  margin-top: 1.2em;
}
/* line 1032, ../sass/style.scss */
#memberjoin .imgcode > div * {
  display: inline-block;
  width: 50%;
}
/* line 1036, ../sass/style.scss */
#memberjoin .imgcode > div img {
  height: 2em;
  width: auto;
}
/* line 1042, ../sass/style.scss */
#memberjoin .form-info {
  margin-top: 2em;
}

/* line 1048, ../sass/style.scss */
#account .panel-success {
  border: 1px solid #4cb0b2;
}
/* line 1050, ../sass/style.scss */
#account .panel-success .panel-heading {
  background-color: #4cb0b2;
  color: #fff;
  cursor: pointer;
}
/* line 1056, ../sass/style.scss */
#account .panel-success .panel-heading .panel-title a:hover {
  color: #fff;
}
/* line 1063, ../sass/style.scss */
#account .panel-heading {
  cursor: pointer;
}

/* line 1071, ../sass/style.scss */
#memberjoin .date .form-control,
#memberjoin .address .form-control {
  width: calc((100% - 0.4em*2) / 3);
}
@media (max-width: 768px) {
  /* line 1071, ../sass/style.scss */
  #memberjoin .date .form-control,
  #memberjoin .address .form-control {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 1076, ../sass/style.scss */
  #memberjoin .date .form-control + *,
  #memberjoin .address .form-control + * {
    margin-top: 1.2em;
  }
}
/* line 1084, ../sass/style.scss */
#memberjoin .address > .form-control {
  margin-top: 1.2em;
  width: 100%;
}
/* line 1090, ../sass/style.scss */
#memberjoin .getInfo > .form-control {
  margin-top: 1.2em;
}
/* line 1094, ../sass/style.scss */
#memberjoin .form-info {
  margin-top: 2em;
}

/* line 1101, ../sass/style.scss */
.imgcode > div * {
  display: inline-block;
  width: 50%;
}
/* line 1105, ../sass/style.scss */
.imgcode > div img {
  height: 2em;
  width: auto;
}

/* line 1112, ../sass/style.scss */
.social {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 2;
}
@media (max-width: 992px) {
  /* line 1112, ../sass/style.scss */
  .social {
    display: none;
  }
}
/* line 1120, ../sass/style.scss */
.social ul {
  text-align: center;
}
/* line 1122, ../sass/style.scss */
.social ul li {
  cursor: pointer;
  list-style: none;
  width: 3em;
  height: 3em;
  line-height: 3em;
  color: #fff;
  font-size: 1.2em;
}
/* line 1130, ../sass/style.scss */
.social ul li + * {
  margin-top: 0.6em;
}
/* line 1134, ../sass/style.scss */
.social ul .icon-facebook:before {
  font-size: 1.4em;
}
/* line 1137, ../sass/style.scss */
.social ul .icon-mail4:before {
  font-size: 1.4em;
}
/* line 1140, ../sass/style.scss */
.social ul .icon-heart:before {
  font-size: 1.2em;
}

/* line 1147, ../sass/style.scss */
.modal .form-group {
  text-align: left;
}
/* line 1150, ../sass/style.scss */
.modal .form-check {
  text-align: center;
}
