/* line 2, ../sass/style.scss */
.red {
  color: #d51f1f;
}

/* line 6, ../sass/style.scss */
.orange {
  background-color: #ffc53d;
}

/* line 10, ../sass/style.scss */
.blue {
  background-color: #57a1d9;
}

/* line 14, ../sass/style.scss */
.green {
  background-color: #5db9ba;
}

/* line 18, ../sass/style.scss */
.pink {
  background-color: #ff8793;
}

/* line 22, ../sass/style.scss */
.purple {
  background-color: #ab83e8;
}

/* line 26, ../sass/style.scss */
.btn-green {
  background-color: #5db9ba;
  color: #fff;
}
/* line 29, ../sass/style.scss */
.btn-green:hover {
  opacity: 0.8;
  color: #fff;
}

/* line 61, ../sass/style.scss */
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft Yahei', serif;
  letter-spacing: 1px;
  color: #666;
}

/* line 70, ../sass/style.scss */
a,
a:hover {
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

/* line 77, ../sass/style.scss */
section {
  padding: 2em 0;
}

/* line 81, ../sass/style.scss */
.title {
  text-align: center;
}
/* line 83, ../sass/style.scss */
.title > div {
  font-size: 1.6em;
  font-weight: 500;
}
/* line 87, ../sass/style.scss */
.title .cn {
  font-size: 1.8em;
  margin-top: 0.6em;
}
/* line 91, ../sass/style.scss */
.title .eng {
  font-size: 1.2em;
  opacity: 0.8;
}

/* line 97, ../sass/style.scss */
.info {
  margin-top: 1.6em;
}

/* line 101, ../sass/style.scss */
.panel-title {
  font-weight: bold;
}
/* line 104, ../sass/style.scss */
.panel-title a:hover {
  color: #fff;
}

/* line 110, ../sass/style.scss */
#header {
  background-color: #93D0D1;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
/* line 117, ../sass/style.scss */
#header .top {
  text-align: right;
  padding: 0.5em 0 0.2em;
  vertical-align: middle;
}
@media (max-width: 992px) {
  /* line 117, ../sass/style.scss */
  #header .top {
    display: none;
  }
}
/* line 124, ../sass/style.scss */
#header .top a {
  position: relative;
  color: #fff;
  text-decoration: none;
  padding-right: 0.8em;
  line-height: 1.5;
}
/* line 130, ../sass/style.scss */
#header .top a:before {
  font-size: 1.4em;
}
/* line 133, ../sass/style.scss */
#header .top a:first-child:after {
  position: absolute;
  content: '';
  right: 3px;
  top: 3px;
  width: 2px;
  height: 14px;
  background-color: #fff;
}
/* line 142, ../sass/style.scss */
#header .top a:last-child {
  padding-right: 0;
}
/* line 147, ../sass/style.scss */
#header .logo {
  padding: 1em 0 1.2em;
}
/* line 149, ../sass/style.scss */
#header .logo:hover {
  opacity: 0.8;
}
@media (max-width: 992px) {
  /* line 152, ../sass/style.scss */
  #header .logo img {
    height: 3em;
  }
}
/* line 158, ../sass/style.scss */
#header .menu {
  background-color: #fff;
  padding: 0.6em 0 0.4em;
  border-bottom: 1px solid #999;
}
/* line 163, ../sass/style.scss */
#header .menu .container > * {
  display: inline-block;
  float: left;
}
/* line 167, ../sass/style.scss */
#header .menu .container .left {
  text-align: left;
  width: 75%;
}
@media (max-width: 992px) {
  /* line 167, ../sass/style.scss */
  #header .menu .container .left {
    width: 10%;
  }
}
@media (max-width: 992px) {
  /* line 174, ../sass/style.scss */
  #header .menu .container .left .icon-menu .list {
    background-color: #fff;
    position: absolute;
    display: none;
    top: 128px;
    right: 0;
    width: 100%;
  }
}
/* line 183, ../sass/style.scss */
#header .menu .container .left .icon-menu .list a {
  text-align: center;
  display: inline-block;
  width: calc(100% / 6);
  padding: 0.4em 0;
}
@media (max-width: 992px) {
  /* line 183, ../sass/style.scss */
  #header .menu .container .left .icon-menu .list a {
    display: inline-block;
    padding: 0.8em 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
  /* line 193, ../sass/style.scss */
  #header .menu .container .left .icon-menu .list a:hover {
    background-color: #5db9ba;
    color: #fff;
  }
}
/* line 200, ../sass/style.scss */
#header .menu .container .left .icon-menu::before {
  cursor: pointer;
  font-size: 1.6em;
  display: none;
  color: #93D0D1;
}
@media (max-width: 992px) {
  /* line 200, ../sass/style.scss */
  #header .menu .container .left .icon-menu::before {
    display: inline-block;
    position: relative;
  }
}
@media (max-width: 992px) {
  /* line 211, ../sass/style.scss */
  #header .menu .container .left .icon-menu::before:hover .list {
    display: inline-block;
  }
}
/* line 219, ../sass/style.scss */
#header .menu .container .right {
  text-align: right;
  width: 25%;
}
@media (max-width: 992px) {
  /* line 219, ../sass/style.scss */
  #header .menu .container .right {
    width: 90%;
  }
}
/* line 225, ../sass/style.scss */
#header .menu .container .right > * {
  display: inline-block;
}
/* line 228, ../sass/style.scss */
#header .menu .container .right .cart {
  padding-top: 0.2em;
  cursor: pointer;
}
/* line 231, ../sass/style.scss */
#header .menu .container .right .cart .icon-cart {
  color: #357b7c;
  font-size: 1.2em;
}
/* line 234, ../sass/style.scss */
#header .menu .container .right .cart .icon-cart span {
  color: #357b7c;
  font-size: 1em;
  font-weight: bold;
}
/* line 240, ../sass/style.scss */
#header .menu .container .right .cart:hover {
  opacity: 0.8;
}
/* line 244, ../sass/style.scss */
#header .menu .container .right .search {
  position: relative;
}
/* line 246, ../sass/style.scss */
#header .menu .container .right .search .icon-search:before {
  cursor: pointer;
  position: absolute;
  top: 30%;
  right: 5%;
  padding-left: 5px;
  border-left: 1px solid #999;
}
/* line 254, ../sass/style.scss */
#header .menu .container .right .search input {
  padding: 6px 10px;
  border: 1px solid #999;
  background-color: #eee;
  border-radius: 14px;
  outline: 0;
}

/* line 267, ../sass/style.scss */
#footer {
  background-color: #f7f7f7;
  padding: 1.2em 0 0;
}
/* line 271, ../sass/style.scss */
#footer .container > * {
  margin-top: 1em;
  display: inline-block;
  width: 100%;
}
@media (max-width: 992px) {
  /* line 276, ../sass/style.scss */
  #footer .container .top {
    text-align: center;
  }
}
/* line 280, ../sass/style.scss */
#footer .container .top a {
  position: relative;
  text-decoration: none;
  padding-right: 1.6em;
  line-height: 1.5;
}
/* line 285, ../sass/style.scss */
#footer .container .top a:after {
  position: absolute;
  content: '';
  right: 6px;
  top: 3px;
  width: 2px;
  height: 14px;
  background-color: #666;
}
/* line 294, ../sass/style.scss */
#footer .container .top a:last-child {
  padding-right: 0;
}
/* line 296, ../sass/style.scss */
#footer .container .top a:last-child:after {
  background-color: transparent;
}
/* line 303, ../sass/style.scss */
#footer .container .center > * {
  display: inline-block;
  float: left;
  height: 4.5em;
}
@media (max-width: 992px) {
  /* line 303, ../sass/style.scss */
  #footer .container .center > * {
    display: block;
    float: none;
  }
}
/* line 311, ../sass/style.scss */
#footer .container .center > * + * {
  margin-left: 1.2em;
}
@media (max-width: 992px) {
  /* line 311, ../sass/style.scss */
  #footer .container .center > * + * {
    margin-top: 1.2em;
  }
}
/* line 318, ../sass/style.scss */
#footer .container .center .left {
  width: 15%;
  line-height: 4.5em;
  text-align: center;
  border: 1px solid #666;
}
@media (max-width: 992px) {
  /* line 318, ../sass/style.scss */
  #footer .container .center .left {
    width: 100%;
  }
}
/* line 327, ../sass/style.scss */
#footer .container .center .right {
  width: calc(100% - 15% - 1.2em);
}
/* line 330, ../sass/style.scss */
#footer .container .center .right > div + div {
  margin-top: 0.6em;
}
/* line 333, ../sass/style.scss */
#footer .container .center .right > div b {
  font-size: 1em;
  margin-right: 0.2em;
}
/* line 341, ../sass/style.scss */
#footer .bottom {
  margin-top: 1em;
  text-align: center;
  background-color: #EAEAEA;
}
/* line 345, ../sass/style.scss */
#footer .bottom .container {
  padding: 1em;
}

/* line 351, ../sass/style.scss */
.arrow {
  font-size: 20px;
  color: #fff;
  background-color: #2d6a6b;
  position: fixed;
  bottom: 1em;
  right: 4em;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 768px) {
  /* line 351, ../sass/style.scss */
  .arrow {
    opacity: 0;
  }
}
/* line 367, ../sass/style.scss */
.arrow:hover {
  opacity: 0.8;
}

/* line 374, ../sass/style.scss */
#awards .container > * {
  display: inline-block;
  float: left;
}
/* line 377, ../sass/style.scss */
#awards .container > * + * {
  margin-left: 1.2em;
}
@media (max-width: 1200px) {
  /* line 377, ../sass/style.scss */
  #awards .container > * + * {
    margin-left: 0;
  }
}
/* line 384, ../sass/style.scss */
#awards .container .left {
  width: 30%;
  padding: 1.2em;
  background-color: #EAEAEA;
  text-align: center;
  line-height: 1.8;
}
@media (max-width: 1200px) {
  /* line 384, ../sass/style.scss */
  #awards .container .left {
    display: block;
    width: 100%;
  }
}
/* line 394, ../sass/style.scss */
#awards .container .left > div:first-child {
  margin-bottom: 0.6em;
  font-size: 2em;
  font-weight: bold;
}
/* line 400, ../sass/style.scss */
#awards .container .right {
  width: calc(70% - 1.2em);
  text-align: center;
}
@media (max-width: 1200px) {
  /* line 400, ../sass/style.scss */
  #awards .container .right {
    display: block;
    width: 100%;
    margin-top: 1.2em;
  }
}
/* line 408, ../sass/style.scss */
#awards .container .right img {
  height: 9.5em;
}
@media (max-width: 1200px) {
  /* line 408, ../sass/style.scss */
  #awards .container .right img {
    height: 8.5em;
  }
}
/* line 413, ../sass/style.scss */
#awards .container .right img + * {
  margin-left: 1.6em;
}

/* line 421, ../sass/style.scss */
#fun {
  color: #fff;
  text-align: center;
  background-image: url(../images/index_bg_01.jpg);
  background-position: center;
}
/* line 426, ../sass/style.scss */
#fun .info {
  margin-top: 2.4em;
  height: 35vh;
  line-height: 2;
  opacity: 0.7;
}
@media (max-width: 768px) {
  /* line 426, ../sass/style.scss */
  #fun .info {
    height: 50vh;
  }
}
/* line 434, ../sass/style.scss */
#fun .info > div:first-child {
  font-size: 2.8em;
}
@media (max-width: 768px) {
  /* line 434, ../sass/style.scss */
  #fun .info > div:first-child {
    font-size: 2em;
  }
}
/* line 440, ../sass/style.scss */
#fun .info > div:last-child {
  font-size: 1.6em;
  font-weight: 500;
}
@media (max-width: 768px) {
  /* line 440, ../sass/style.scss */
  #fun .info > div:last-child {
    font-size: 1.2em;
  }
}

/* line 450, ../sass/style.scss */
#child {
  color: #000;
  text-align: center;
  background-image: url(../images/index_bg_02.jpg);
  background-position: 5% 30%;
}
@media (max-width: 992px) {
  /* line 450, ../sass/style.scss */
  #child {
    background-position: 22% 30%;
  }
}
/* line 458, ../sass/style.scss */
#child .info {
  margin-top: 2.2em;
  margin-left: 8.4em;
  height: 30vh;
  line-height: 2;
  opacity: 0.7;
}
@media (max-width: 1200px) {
  /* line 458, ../sass/style.scss */
  #child .info {
    margin-top: 1em;
    margin-left: 1em;
    height: 50vh;
    line-height: 1.2;
  }
}
/* line 470, ../sass/style.scss */
#child .info > div {
  font-size: 1.6em;
  font-weight: 500;
}
@media (max-width: 1200px) {
  /* line 470, ../sass/style.scss */
  #child .info > div {
    font-size: 1.2em;
    margin-top: 1.2em;
  }
}
/* line 478, ../sass/style.scss */
#child .info > div:first-child {
  font-size: 2.8em;
}
@media (max-width: 1200px) {
  /* line 478, ../sass/style.scss */
  #child .info > div:first-child {
    font-size: 2.4em;
  }
}

@media (max-width: 992px) {
  /* line 491, ../sass/style.scss */
  #news .info .left img,
  #news .info .right img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  /* line 497, ../sass/style.scss */
  #news .info .right {
    margin-top: 1.2em;
  }
}
/* line 502, ../sass/style.scss */
#news .info .img {
  position: relative;
  cursor: pointer;
}
/* line 506, ../sass/style.scss */
#news .info .img:hover img:hover {
  filter: grayscale(0.5);
}
/* line 509, ../sass/style.scss */
#news .info .img:hover a {
  display: inline-block;
}
/* line 513, ../sass/style.scss */
#news .info .img img {
  filter: grayscale(0);
}

/* line 520, ../sass/style.scss */
#sale {
  background-color: #fff9d5;
}
/* line 523, ../sass/style.scss */
#sale .info .n5 {
  background-color: #fff;
  margin-right: 1.2em;
  margin-bottom: 1.2em;
  display: inline-block;
  float: left;
  width: calc((100% - 1.2em*4)/ 5);
  border: 1px solid #cfcfcf;
  box-shadow: 1px 1px 10px #ccc;
  border-radius: 8px;
  overflow: hidden;
  min-height: 40vh;
}
@media (max-width: 992px) {
  /* line 523, ../sass/style.scss */
  #sale .info .n5 {
    display: inline-block;
    float: left;
    width: calc((100% - 1.2em)/ 2);
  }
}
/* line 540, ../sass/style.scss */
#sale .info .n5:nth-child(5n) {
  margin-right: 0;
}
@media (max-width: 992px) {
  /* line 540, ../sass/style.scss */
  #sale .info .n5:nth-child(5n) {
    margin-right: 1.2em;
  }
}
@media (max-width: 992px) {
  /* line 546, ../sass/style.scss */
  #sale .info .n5:nth-child(2n) {
    margin-right: 0;
  }
}
/* line 551, ../sass/style.scss */
#sale .info .n5 .cover {
  cursor: pointer;
}
/* line 554, ../sass/style.scss */
#sale .info .n5 .cover:hover img {
  filter: blur(1px) grayscale(0.7);
}
/* line 559, ../sass/style.scss */
#sale .info .n5 .desc {
  padding: 1em;
}
/* line 561, ../sass/style.scss */
#sale .info .n5 .desc > div:first-child {
  font-size: 1.2em;
  min-height: 4.2em;
}
/* line 565, ../sass/style.scss */
#sale .info .n5 .desc > :not(:first-child) {
  text-align: right;
}
/* line 568, ../sass/style.scss */
#sale .info .n5 .desc .price {
  font-size: 1.2em;
  opacity: 0.5;
}
/* line 572, ../sass/style.scss */
#sale .info .n5 .desc .discount {
  font-size: 2em;
  color: #d51f1f;
  font-weight: 700;
}

/* line 582, ../sass/style.scss */
.slider {
  margin-top: 7.2em;
  width: 100%;
}
/* line 585, ../sass/style.scss */
.slider .slick-slide img {
  width: 100%;
}
/* line 588, ../sass/style.scss */
.slider .slick-dots {
  bottom: 20px;
}

/* line 594, ../sass/style.scss */
#index-video .youtube {
  position: relative;
}
@media (max-width: 992px) {
  /* line 594, ../sass/style.scss */
  #index-video .youtube {
    margin-top: 1.2em;
  }
}
/* line 599, ../sass/style.scss */
#index-video .youtube .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  padding-left: 2px;
  width: 70px;
}
/* line 608, ../sass/style.scss */
#index-video .youtube .arrow:hover {
  background-color: #d51f1f;
}
/* line 611, ../sass/style.scss */
#index-video .youtube .arrow a {
  color: #fff;
  font-size: 1.2em;
}

/* line 619, ../sass/style.scss */
.social {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 2;
}
@media (max-width: 992px) {
  /* line 619, ../sass/style.scss */
  .social {
    display: none;
  }
}
/* line 627, ../sass/style.scss */
.social li {
  text-align: center;
  list-style: none;
}
/* line 630, ../sass/style.scss */
.social li .opened {
  transform: translateX(-230px);
  z-index: 1;
}
/* line 634, ../sass/style.scss */
.social li button {
  border: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3em;
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 0.8em;
}
/* line 644, ../sass/style.scss */
.social li .sw_content {
  display: none;
}
/* line 647, ../sass/style.scss */
.social li .icon-facebook:before {
  font-size: 1.4em;
}
/* line 651, ../sass/style.scss */
.social li .line img {
  margin-bottom: 0.4em;
}
/* line 655, ../sass/style.scss */
.social li .icon-mail4 {
  position: relative;
}
/* line 657, ../sass/style.scss */
.social li .icon-mail4:before {
  font-size: 1.4em;
}
/* line 660, ../sass/style.scss */
.social li .icon-mail4 span.numbers {
  position: absolute;
  left: 8px;
  top: 8px;
  color: #fff;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 100%;
}
/* line 669, ../sass/style.scss */
.social li .icon-mail4 span.numbers b {
  position: absolute;
  left: 4px;
  top: -18px;
  font-size: 11px;
  font-weight: bold;
}
/* line 678, ../sass/style.scss */
.social li .icon-heart:before {
  font-size: 1.2em;
}

/* line 684, ../sass/style.scss */
#memberjoin,
#memberalter,
#product,
#productitem,
#eventitem,
#video,
#about,
#event,
#contact,
#account,
#favorite {
  margin-top: 12em;
}
@media (max-width: 992px) {
  /* line 684, ../sass/style.scss */
  #memberjoin,
  #memberalter,
  #product,
  #productitem,
  #eventitem,
  #video,
  #about,
  #event,
  #contact,
  #account,
  #favorite {
    margin-top: 8.5em;
  }
}
/* line 699, ../sass/style.scss */
#memberjoin .title,
#memberalter .title,
#product .title,
#productitem .title,
#eventitem .title,
#video .title,
#about .title,
#event .title,
#contact .title,
#account .title,
#favorite .title {
  text-align: left;
  padding-left: 1.2em;
  border-left: 5px solid #5db9ba;
  margin-bottom: 1.2em;
}

/* line 709, ../sass/style.scss */
#event .info > a {
  display: block;
  width: 100%;
  padding: 1.2em 0.8em;
  font-size: 1.2em;
}
/* line 714, ../sass/style.scss */
#event .info > a:hover {
  cursor: pointer;
  opacity: 0.8;
}
/* line 718, ../sass/style.scss */
#event .info > a:nth-child(odd) {
  background-color: #ecf7f7;
}
/* line 722, ../sass/style.scss */
#event .info .date {
  width: 12%;
  opacity: 0.7;
  text-align: center;
}
/* line 727, ../sass/style.scss */
#event .info .name {
  display: inline-block;
  width: 12%;
  text-align: center;
  color: #fff;
  padding: 0.4em 0.6em 0.6em;
  border-radius: 8px;
}
/* line 734, ../sass/style.scss */
#event .info .name:before {
  margin-right: 0.4em;
  margin-top: 0.5em;
  font-size: 0.8em;
}
@media (max-width: 768px) {
  /* line 727, ../sass/style.scss */
  #event .info .name {
    width: 100%;
    margin: 0.6em 0;
  }
}
/* line 744, ../sass/style.scss */
#event .info .item {
  width: calc;
}

/* line 751, ../sass/style.scss */
#eventitem .title {
  text-align: left;
  margin-bottom: 1.2em;
}
/* line 756, ../sass/style.scss */
#eventitem .left .title {
  padding-left: 1.2em;
  border-left: 5px solid #5db9ba;
}
/* line 760, ../sass/style.scss */
#eventitem .left .img {
  padding: 1.2em;
  background-color: #EAEAEA;
  border: 1px solid #a8a8a8;
}
/* line 768, ../sass/style.scss */
#eventitem .right .list + * {
  margin-top: 3.6em;
}
/* line 772, ../sass/style.scss */
#eventitem .right .title {
  border: 0;
}
/* line 774, ../sass/style.scss */
#eventitem .right .title img {
  height: 2em;
  margin-right: 0.6em;
}
/* line 779, ../sass/style.scss */
#eventitem .right .item {
  margin-bottom: 1.8em;
}
/* line 781, ../sass/style.scss */
#eventitem .right .item .img {
  padding: 1.2em;
  background-color: #ecf7f7;
  margin-bottom: 1.2em;
}

/* line 791, ../sass/style.scss */
#product .list-group {
  border-top: 3px solid #93D0D1;
  border-radius: 4px;
  overflow: hidden;
}
/* line 795, ../sass/style.scss */
#product .list-group .list-group-item {
  padding: 15px;
}
/* line 797, ../sass/style.scss */
#product .list-group .list-group-item:hover {
  background-color: #dbefef;
  color: #3d8d8e;
}
/* line 800, ../sass/style.scss */
#product .list-group .list-group-item:hover .badge {
  background-color: #3d8d8e;
}
/* line 807, ../sass/style.scss */
#product .right .title {
  margin-bottom: 1.2em;
  text-align: left;
  color: #3d8d8e;
}
/* line 813, ../sass/style.scss */
#product .right .col-md-3 .item {
  margin: 0.6em;
  padding: 1em;
}
/* line 814, ../sass/style.scss */
#product .right .col-md-3 .item img {
  margin-bottom: 1.2em;
}
/* line 816, ../sass/style.scss */
#product .right .col-md-3 .item img:hover {
  filter: blur(1px) grayscale(0.7);
}
/* line 821, ../sass/style.scss */
#product .right .col-md-3 .item img {
  margin-bottom: 1.2em;
}
/* line 825, ../sass/style.scss */
#product .right .col-md-3 .item > div:first-child {
  font-size: 1.2em;
  min-height: 4.2em;
}
/* line 829, ../sass/style.scss */
#product .right .col-md-3 .item > :not(:first-child) {
  text-align: right;
}
/* line 832, ../sass/style.scss */
#product .right .col-md-3 .item .price {
  font-size: 1.2em;
  opacity: 0.5;
}
/* line 836, ../sass/style.scss */
#product .right .col-md-3 .item .discount {
  font-size: 2em;
  color: #d51f1f;
  font-weight: 700;
}

/* line 847, ../sass/style.scss */
#productitem .list-group {
  border-top: 3px solid #93D0D1;
  border-radius: 4px;
  overflow: hidden;
}
/* line 851, ../sass/style.scss */
#productitem .list-group .list-group-item {
  padding: 15px;
}
/* line 853, ../sass/style.scss */
#productitem .list-group .list-group-item:hover {
  background-color: #dbefef;
  color: #3d8d8e;
}
/* line 856, ../sass/style.scss */
#productitem .list-group .list-group-item:hover .badge {
  background-color: #3d8d8e;
}
/* line 863, ../sass/style.scss */
#productitem .right .productList {
  text-align: center;
}
/* line 865, ../sass/style.scss */
#productitem .right .productList .col-md-6 {
  padding: 1.4em;
}
/* line 867, ../sass/style.scss */
#productitem .right .productList .col-md-6 img {
  width: 100%;
}
/* line 870, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) {
  text-align: left;
}
/* line 872, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .title {
  margin-bottom: 1.6em;
}
/* line 875, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) li {
  line-height: 2;
}
/* line 878, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .price {
  padding: 1.2em;
}
/* line 880, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .price > * {
  font-size: 1.2em;
}
/* line 882, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .price > * + * {
  margin-left: 1.6em;
  color: #d51f1f;
  font-size: 1.6em;
  font-weight: 700;
}
/* line 890, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .quantity {
  padding: 1.2em;
  font-size: 1.2em;
}
/* line 893, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .quantity select {
  padding: 0.2em;
  border-radius: 4px;
  width: 30%;
}
/* line 899, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .button {
  padding: 1.2em;
}
/* line 901, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .button .btn {
  padding: 8px 16px;
}
/* line 904, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .button .btn-default {
  border: 1px solid #d9534f;
}
/* line 906, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .button .btn-default:hover {
  background-color: #f9e2e2;
}
/* line 909, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .button .btn-default .icon-heart {
  color: #d9534f;
}
/* line 911, ../sass/style.scss */
#productitem .right .productList .col-md-6:nth-child(2) .button .btn-default .icon-heart:before {
  font-size: 1.2em;
  line-height: 1.2;
}
/* line 922, ../sass/style.scss */
#productitem .right .desc img {
  width: 100%;
}
/* line 925, ../sass/style.scss */
#productitem .right .desc .title {
  font-size: 1.2em;
  text-align: left;
  padding: 0.6em 0 0.4em;
  border-bottom: 3px solid #3d8d8e;
  color: #fff;
  margin-bottom: 1.2em;
}
/* line 932, ../sass/style.scss */
#productitem .right .desc .title span {
  margin: 0;
  padding: 0.6em;
  background-color: #3d8d8e;
  border-radius: 10px 10px 0 0;
}

/* line 944, ../sass/style.scss */
#about img {
  margin-top: 1.2em;
}

/* line 952, ../sass/style.scss */
#video .video .slick-slide,
#video .share .slick-slide {
  padding: 1.2em;
}
/* line 955, ../sass/style.scss */
#video .video .slick-dots,
#video .share .slick-dots {
  bottom: -20px;
}
/* line 959, ../sass/style.scss */
#video .slider {
  margin-top: 1.2em;
}
/* line 964, ../sass/style.scss */
#video .share .item img {
  margin-bottom: 2.4em;
}
/* line 967, ../sass/style.scss */
#video .share .item .desc {
  padding: 1.2em;
  text-align: center;
}
/* line 970, ../sass/style.scss */
#video .share .item .desc > * {
  margin-bottom: 1.2em;
}
/* line 974, ../sass/style.scss */
#video .share .item .desc > div:nth-child(1) span {
  font-size: 1.2em;
  color: #fff;
  background-color: #93D0D1;
  padding: 6px 16px;
  border-radius: 6px;
}
/* line 982, ../sass/style.scss */
#video .share .item .desc > div:nth-child(2) {
  font-size: 1.2em;
}
/* line 985, ../sass/style.scss */
#video .share .item .desc > div:nth-child(3) {
  opacity: 0.6;
  text-align: left;
}

/* line 997, ../sass/style.scss */
#account .nav > li > a.active,
#favorite .nav > li > a.active,
#memberalter .nav > li > a.active {
  background-color: #a5d8d9;
  color: #357b7c;
}
@media (max-width: 992px) {
  /* line 1001, ../sass/style.scss */
  #account .left,
  #favorite .left,
  #memberalter .left {
    margin-bottom: 1.2em;
  }
}
/* line 1006, ../sass/style.scss */
#account .panel-success,
#favorite .panel-success,
#memberalter .panel-success {
  border: 1px solid #4cb0b2;
}
/* line 1008, ../sass/style.scss */
#account .panel-success .panel-heading,
#favorite .panel-success .panel-heading,
#memberalter .panel-success .panel-heading {
  background-color: #4cb0b2;
  color: #fff;
  cursor: pointer;
}
/* line 1014, ../sass/style.scss */
#account .panel-heading,
#favorite .panel-heading,
#memberalter .panel-heading {
  cursor: pointer;
}
/* line 1018, ../sass/style.scss */
#account .panel-blue .panel-heading,
#favorite .panel-blue .panel-heading,
#memberalter .panel-blue .panel-heading {
  background-color: #b7c8dc;
  color: #fff;
}
/* line 1022, ../sass/style.scss */
#account .panel-blue .panel-body,
#favorite .panel-blue .panel-body,
#memberalter .panel-blue .panel-body {
  border: 1px solid #b7c8dc;
}

/* line 1032, ../sass/style.scss */
#memberjoin .form-info .form-group .form-check-label,
#memberalter .form-info .form-group .form-check-label {
  cursor: pointer;
}
/* line 1039, ../sass/style.scss */
#memberjoin .date .form-control,
#memberjoin .address .form-control,
#memberalter .date .form-control,
#memberalter .address .form-control {
  width: calc((100% - 0.4em*2) / 3);
}
@media (max-width: 768px) {
  /* line 1039, ../sass/style.scss */
  #memberjoin .date .form-control,
  #memberjoin .address .form-control,
  #memberalter .date .form-control,
  #memberalter .address .form-control {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 1044, ../sass/style.scss */
  #memberjoin .date .form-control + *,
  #memberjoin .address .form-control + *,
  #memberalter .date .form-control + *,
  #memberalter .address .form-control + * {
    margin-top: 1.2em;
  }
}
/* line 1052, ../sass/style.scss */
#memberjoin .address > .form-control,
#memberalter .address > .form-control {
  margin-top: 1.2em;
  width: 100%;
}
@media (max-width: 768px) {
  /* line 1059, ../sass/style.scss */
  #memberjoin .getInfo > div button,
  #memberalter .getInfo > div button {
    width: 100%;
  }
  /* line 1062, ../sass/style.scss */
  #memberjoin .getInfo > div button + *,
  #memberalter .getInfo > div button + * {
    margin-top: 1.2em;
  }
}
/* line 1068, ../sass/style.scss */
#memberjoin .getInfo > .form-control,
#memberalter .getInfo > .form-control {
  margin-top: 1.2em;
}

/* line 1078, ../sass/style.scss */
#memberjoin .date .form-control,
#memberjoin .address .form-control,
#memberalter .date .form-control,
#memberalter .address .form-control {
  width: calc((100% - 0.4em*2) / 3);
}
@media (max-width: 768px) {
  /* line 1078, ../sass/style.scss */
  #memberjoin .date .form-control,
  #memberjoin .address .form-control,
  #memberalter .date .form-control,
  #memberalter .address .form-control {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 1083, ../sass/style.scss */
  #memberjoin .date .form-control + *,
  #memberjoin .address .form-control + *,
  #memberalter .date .form-control + *,
  #memberalter .address .form-control + * {
    margin-top: 1.2em;
  }
}
/* line 1091, ../sass/style.scss */
#memberjoin .address > .form-control,
#memberalter .address > .form-control {
  margin-top: 1.2em;
  width: 100%;
}
/* line 1097, ../sass/style.scss */
#memberjoin .getInfo > .form-control,
#memberalter .getInfo > .form-control {
  margin-top: 1.2em;
}
/* line 1100, ../sass/style.scss */
#memberjoin .getInfo button,
#memberalter .getInfo button {
  border: 0;
}
/* line 1106, ../sass/style.scss */
#memberjoin .imgcode > div *,
#memberalter .imgcode > div * {
  display: inline-block;
  width: 50%;
}
/* line 1110, ../sass/style.scss */
#memberjoin .imgcode > div img,
#memberalter .imgcode > div img {
  height: 2em;
  width: auto;
}
/* line 1116, ../sass/style.scss */
#memberjoin .form-info,
#memberalter .form-info {
  margin-top: 2em;
}

/* line 1124, ../sass/style.scss */
#memberjoin .date .form-control,
#memberjoin .address .form-control {
  width: calc((100% - 0.4em*2) / 3);
}
@media (max-width: 768px) {
  /* line 1124, ../sass/style.scss */
  #memberjoin .date .form-control,
  #memberjoin .address .form-control {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 1129, ../sass/style.scss */
  #memberjoin .date .form-control + *,
  #memberjoin .address .form-control + * {
    margin-top: 1.2em;
  }
}
/* line 1137, ../sass/style.scss */
#memberjoin .address > .form-control {
  margin-top: 1.2em;
  width: 100%;
}
/* line 1143, ../sass/style.scss */
#memberjoin .getInfo > .form-control {
  margin-top: 1.2em;
}
/* line 1147, ../sass/style.scss */
#memberjoin .form-info {
  margin-top: 2em;
}

/* line 1154, ../sass/style.scss */
.imgcode > div * {
  display: inline-block;
  width: 50%;
}
/* line 1158, ../sass/style.scss */
.imgcode > div img {
  height: 2em;
  width: auto;
}

/* line 1165, ../sass/style.scss */
.social {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 2;
}
@media (max-width: 992px) {
  /* line 1165, ../sass/style.scss */
  .social {
    display: none;
  }
}
/* line 1173, ../sass/style.scss */
.social ul {
  text-align: center;
}
/* line 1175, ../sass/style.scss */
.social ul li {
  cursor: pointer;
  list-style: none;
  width: 3em;
  height: 3em;
  line-height: 3em;
  color: #fff;
  font-size: 1.2em;
}
/* line 1183, ../sass/style.scss */
.social ul li + * {
  margin-top: 0.6em;
}
/* line 1187, ../sass/style.scss */
.social ul .icon-facebook:before {
  font-size: 1.4em;
}
/* line 1190, ../sass/style.scss */
.social ul .icon-mail4:before {
  font-size: 1.4em;
}
/* line 1193, ../sass/style.scss */
.social ul .icon-heart:before {
  font-size: 1.2em;
}

/* line 1200, ../sass/style.scss */
.modal .modal-header {
  text-align: center;
  background-color: #93D0D1;
  color: #fff;
  overflow: hidden;
  font-weight: bold;
  border-radius: 6px 6px 0 0;
}
/* line 1207, ../sass/style.scss */
.modal .modal-header .close {
  margin-top: -5px;
  color: black;
  font-size: 2.2em;
}
/* line 1213, ../sass/style.scss */
.modal .modal-content {
  border: 0;
}
/* line 1217, ../sass/style.scss */
.modal .form-group .form-check {
  text-align: center;
}
/* line 1220, ../sass/style.scss */
.modal .form-group .form-check-label {
  cursor: pointer;
  text-align: center;
}
/* line 1226, ../sass/style.scss */
.modal .button-group a {
  width: calc((100% - 0.6em*2)/2);
  display: inline-block;
  margin-bottom: 0.6em;
}
/* line 1230, ../sass/style.scss */
.modal .button-group a + * {
  margin-left: 0.6em;
}

/* line 1238, ../sass/style.scss */
#twzipcode select,
#twzipcode input {
  width: calc((100% - 0.4em*2) / 3);
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
@media (max-width: 425px) {
  /* line 1238, ../sass/style.scss */
  #twzipcode select,
  #twzipcode input {
    width: 100%;
  }
}
/* line 1256, ../sass/style.scss */
#twzipcode > * + * {
  margin-left: 0.4em;
}
@media (max-width: 425px) {
  /* line 1256, ../sass/style.scss */
  #twzipcode > * + * {
    margin-left: 0;
    margin-top: 1.2em;
  }
}

/* line 1267, ../sass/style.scss */
#favorite .table {
  text-align: center;
}
/* line 1269, ../sass/style.scss */
#favorite .table thead {
  background-color: #57a1d9;
  color: #fff;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}
/* line 1276, ../sass/style.scss */
#favorite .table > thead > tr > th,
#favorite .table > tbody > tr > th,
#favorite .table > tfoot > tr > th,
#favorite .table > thead > tr > td,
#favorite .table > tbody > tr > td,
#favorite .table > tfoot > tr > td {
  vertical-align: middle;
}

/* line 1289, ../sass/style.scss */
#memberjoin .date .form-control,
#memberjoin .address .form-control {
  width: calc((100% - 0.4em*2) / 3);
}
@media (max-width: 768px) {
  /* line 1289, ../sass/style.scss */
  #memberjoin .date .form-control,
  #memberjoin .address .form-control {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 1294, ../sass/style.scss */
  #memberjoin .date .form-control + *,
  #memberjoin .address .form-control + * {
    margin-top: 1.2em;
  }
}
/* line 1302, ../sass/style.scss */
#memberjoin .address > .form-control {
  margin-top: 1.2em;
  width: 100%;
}
/* line 1308, ../sass/style.scss */
#memberjoin .getInfo > .form-control {
  margin-top: 1.2em;
}
/* line 1311, ../sass/style.scss */
#memberjoin .getInfo button {
  border: 0;
}
/* line 1317, ../sass/style.scss */
#memberjoin .imgcode > div * {
  display: inline-block;
  width: 50%;
}
/* line 1321, ../sass/style.scss */
#memberjoin .imgcode > div img {
  height: 2em;
  width: auto;
}
/* line 1327, ../sass/style.scss */
#memberjoin .form-info {
  margin-top: 2em;
}

/* line 1335, ../sass/style.scss */
#memberjoin .date .form-control,
#memberjoin .address .form-control {
  width: calc((100% - 0.4em*2) / 3);
}
@media (max-width: 768px) {
  /* line 1335, ../sass/style.scss */
  #memberjoin .date .form-control,
  #memberjoin .address .form-control {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 1340, ../sass/style.scss */
  #memberjoin .date .form-control + *,
  #memberjoin .address .form-control + * {
    margin-top: 1.2em;
  }
}
/* line 1348, ../sass/style.scss */
#memberjoin .address > .form-control {
  margin-top: 1.2em;
  width: 100%;
}
/* line 1354, ../sass/style.scss */
#memberjoin .getInfo > .form-control {
  margin-top: 1.2em;
}
/* line 1358, ../sass/style.scss */
#memberjoin .form-info {
  margin-top: 2em;
}

/* line 1365, ../sass/style.scss */
.imgcode > div * {
  display: inline-block;
  width: 50%;
}
/* line 1369, ../sass/style.scss */
.imgcode > div img {
  height: 2em;
  width: auto;
}

/* line 1376, ../sass/style.scss */
.social {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 2;
}
@media (max-width: 992px) {
  /* line 1376, ../sass/style.scss */
  .social {
    display: none;
  }
}
/* line 1384, ../sass/style.scss */
.social ul {
  text-align: center;
}
/* line 1386, ../sass/style.scss */
.social ul li {
  cursor: pointer;
  list-style: none;
  width: 3em;
  height: 3em;
  line-height: 3em;
  color: #fff;
  font-size: 1.2em;
}
/* line 1394, ../sass/style.scss */
.social ul li + * {
  margin-top: 0.6em;
}
/* line 1398, ../sass/style.scss */
.social ul .icon-facebook:before {
  font-size: 1.4em;
}
/* line 1401, ../sass/style.scss */
.social ul .icon-mail4:before {
  font-size: 1.4em;
}
/* line 1404, ../sass/style.scss */
.social ul .icon-heart:before {
  font-size: 1.2em;
}

/* line 1411, ../sass/style.scss */
.modal .modal-header {
  text-align: center;
  background-color: #93D0D1;
  color: #fff;
  overflow: hidden;
  font-weight: bold;
  border-radius: 6px 6px 0 0;
}
/* line 1418, ../sass/style.scss */
.modal .modal-header .close {
  margin-top: -5px;
  color: black;
  font-size: 2.2em;
}
/* line 1424, ../sass/style.scss */
.modal .modal-content {
  border: 0;
}
/* line 1428, ../sass/style.scss */
.modal .form-group .form-check {
  text-align: center;
}
/* line 1431, ../sass/style.scss */
.modal .form-group .form-check-label {
  cursor: pointer;
  text-align: center;
}

/* line 1439, ../sass/style.scss */
#twzipcode select,
#twzipcode input {
  width: calc((100% - 0.4em*2) / 3);
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
@media (max-width: 425px) {
  /* line 1439, ../sass/style.scss */
  #twzipcode select,
  #twzipcode input {
    width: 100%;
  }
}
/* line 1457, ../sass/style.scss */
#twzipcode > * + * {
  margin-left: 0.4em;
}
@media (max-width: 425px) {
  /* line 1457, ../sass/style.scss */
  #twzipcode > * + * {
    margin-left: 0;
    margin-top: 1.2em;
  }
}

/* line 1469, ../sass/style.scss */
#favorite .table,
#personal .table {
  text-align: center;
}
/* line 1471, ../sass/style.scss */
#favorite .table thead,
#personal .table thead {
  background-color: #95c4e7;
  color: #fff;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}
/* line 1480, ../sass/style.scss */
#favorite .table tbody tr td + *,
#personal .table tbody tr td + * {
  border-left: 1px dashed #929292;
}
/* line 1483, ../sass/style.scss */
#favorite .table tbody tr td i,
#personal .table tbody tr td i {
  color: #EA697F;
  font-size: 1.2em;
  cursor: pointer;
}
/* line 1489, ../sass/style.scss */
#favorite .table tbody tr td:nth-child(2),
#personal .table tbody tr td:nth-child(2) {
  text-align: left;
  font-size: 1.2em;
}
/* line 1492, ../sass/style.scss */
#favorite .table tbody tr td:nth-child(2):hover,
#personal .table tbody tr td:nth-child(2):hover {
  opacity: 0.8;
}
/* line 1499, ../sass/style.scss */
#favorite .table > thead > tr > th,
#favorite .table > tbody > tr > th,
#favorite .table > tfoot > tr > th,
#favorite .table > thead > tr > td,
#favorite .table > tbody > tr > td,
#favorite .table > tfoot > tr > td,
#personal .table > thead > tr > th,
#personal .table > tbody > tr > th,
#personal .table > tfoot > tr > th,
#personal .table > thead > tr > td,
#personal .table > tbody > tr > td,
#personal .table > tfoot > tr > td {
  vertical-align: middle;
}

/* line 1509, ../sass/style.scss */
.member-bottom {
  display: none;
}
@media (max-width: 992px) {
  /* line 1509, ../sass/style.scss */
  .member-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    z-index: 2;
  }
}
/* line 1518, ../sass/style.scss */
.member-bottom li {
  padding: 0.8em 0;
  font-size: 1em;
  color: #fff;
  text-align: center;
  display: inline-block;
  float: left;
  width: calc(100% / 3);
  cursor: pointer;
}
/* line 1528, ../sass/style.scss */
.member-bottom li a:before {
  margin-right: 0.6em;
}
/* line 1532, ../sass/style.scss */
.member-bottom li a,
.member-bottom li a:hover {
  color: #fff;
}
/* line 1537, ../sass/style.scss */
.member-bottom li.shopping {
  background-color: #ec9cc1;
}
/* line 1540, ../sass/style.scss */
.member-bottom li.servive {
  background-color: #8dd1e8;
}
/* line 1543, ../sass/style.scss */
.member-bottom li.account {
  background-color: #89cbb0;
}
